In [105]:
from numpy import mean ,std
import numpy as np
from sklearn.model_selection import cross_val_score , cross_validate ,RepeatedKFold ,GridSearchCV ,train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler 
from sklearn.pipeline import Pipeline
from sklearn.ensemble import StackingRegressor ,RandomForestRegressor , GradientBoostingRegressor
from sklearn.metrics import r2_score ,mean_absolute_error
from sklearn.neural_network import MLPRegressor
from matplotlib import pyplot
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import pandas as pd
import csv
import matplotlib.pyplot as plt
import joblib
import lightgbm as lgb
from ipynb.fs.full.set_up import data_prep
import math

In [106]:
def calc_distance_from_the_see_TLV(X_coordinate, Y_coordinate):
    north_x = 180471
    north_y = 672391
    south_x = 177333
    south_y = 663016
    
    m = (south_y - north_y) / (south_x - north_x)   
    b = north_y - (m * north_x)
    
    numerator = abs(m * X_coordinate - Y_coordinate + b)
    denominator = math.sqrt(m**2 + 1)
    return numerator / denominator


def calc_distance_from_train_station(x, y):
    stations = [(179820.47, 662424.54), (180619, 664469.56), (181101.44, 665688.78), (181710.96, 667877.05)]
    distances = [abs(station[0] - x) + abs(station[1] - y) for station in stations]
    min_distance = min(distances)
    return min_distance
    


def add_neighborhood(search_street):
    df = pd.read_csv("../Data/Real_Estate_TLV_GOVMAPS_1.csv",index_col=0)
    neighborhoods = {}
    for index, row in df.iterrows():
        neighborhood = row['NEIGHBORHOOD']
        street = row['STREENNAME']
        if neighborhood not in neighborhoods:
            neighborhoods[neighborhood] = set()
        neighborhoods[neighborhood].add(street)
    
    for neighborhood, streets in neighborhoods.items():
        if search_street in streets:
            return neighborhood
    return None

In [107]:
df_a = pd.read_csv("../Data/Addresses.csv")

def edit_addresses(df):
    df = df.dropna(subset=['ms_gush','ms_chelka']).reset_index(drop=True)
    df.rename(columns = {'ms_gush':'Gush'}, inplace = True)
    df['Gush'] = df['Gush'].astype(np.int32)
    
    df.rename(columns = {'ms_chelka':'Helka'}, inplace = True)
    df['Helka'] = df['Helka'].astype(np.int32)
    
    df.rename(columns = {'t_rechov':'Street'}, inplace = True)
    df.rename(columns = {'ms_bayit':'Home_number'}, inplace = True)

    return df


df_a = edit_addresses(df_a)
df_a
params= {}
params['Price'] = 4000000
params['Street'] = 'הגדוד העברי'
params['Home_number'] = 66
params['Rooms'] = 3
params['Floor'] = 3 
params['Size'] = 59
params['Build_year'] = None
params['Neighborhood'] = None
params['Floors'] = None 
params['Lat'] = None
params['Long'] = None 
params['Distance_sea'] = None 
params['Train'] = None 
params['Helka'] = None 
params['Gush'] = None 
params['Street_rank'] = None 
params['Helka_rank'] = None 
params['Neighborhood_rank'] = None
params['Age'] = None
params['Year'] = 2023


# params= {}
# params['Price'] = 3000000
# params['Street'] = 'בית אל'
# params['Home_number'] = 15
# params['Rooms'] = 4
# params['Floor'] = 5 
# params['Size'] = 115
# params['Build_year'] = None
# params['Neighborhood'] = None
# params['Floors'] = None 
# params['Lat'] = None
# params['Long'] = None 
# params['Distance_sea'] = None 
# params['Train'] = None 
# params['Helka'] = None 
# params['Gush'] = None 
# params['Street_rank'] = None 
# params['Helka_rank'] = None 
# params['Neighborhood_rank'] = None
# params['Age'] = None
# params['Year'] = 2023


def check_for_match(df, params , number , target , col_1, col_2= None ):
    
    number = int(number)
    number_offsets = [number ,number - 1, number + 1, number + 2, number - 2, number + 3, number - 3, number + 4, number - 4,  number + 5 ,number - 5]
    for number in number_offsets:
        if col_2:
            try:
                match = df.loc[(df[col_1] == params[col_1]) & (df[col_2] == number), target].values[0]
                return match
            except: 
                pass
        else:
            try:
                match = df.loc[(df[col_1] == params[col_1]) , target].values[0] 
                return match
            except:
                pass
    return int(df[target].mean())



def calc_missing_values(df,params):
    
#     params['Lat'] = df.loc[(df['Street'] == params['Street']) & (df['Home_number'] == params['Home_number']),'y'].values[0]
    params['Lat'] = check_for_match(df, params , params['Home_number'] , 'y' , 'Street' ,'Home_number')

    params['Long'] = df.loc[(df['Street'] == params['Street']) & (df['Home_number'] == params['Home_number']),'x'].values[0]
#     params['Lat'] = check_for_match(df, params , params['Home_number'] , 'x' , 'Street' ,'Home_number')
    print(params['Long'])
    params['Gush'] = df.loc[(df['Street'] == params['Street']) & (df['Home_number'] == params['Home_number']),'Gush'].values[0]
    params['Helka'] = df.loc[(df['Street'] == params['Street']) & (df['Home_number'] == params['Home_number']),'Helka'].values[0]
    params['Distance_sea'] = calc_distance_from_the_see_TLV(params['Lat'] ,  params['Long'] )
    params['Neighborhood'] = add_neighborhood(params['Street'])
    params['Train'] = calc_distance_from_train_station(params['Lat'] ,  params['Long'])
    
    nadlan_df = pd.read_csv("../Data/Nadlan_clean.csv"  ,index_col=0)
    
    params['Build_year'] = check_for_match(nadlan_df, params , params['Helka'] , 'Build_year' , 'Gush', 'Helka')
    
    params['Floors'] = check_for_match(nadlan_df, params , params['Helka'] , 'Floors' , 'Gush', 'Helka')
    params['Age'] = 2023 - params['Build_year']

    params['Street_rank'] = nadlan_df.loc[(nadlan_df['Street'] == params['Street']) ,'Street_rank'].max() 
    params['Gush_rank'] = nadlan_df.loc[(nadlan_df['Gush'] == params['Gush']) ,'Gush_rank'].max() 
    
    params['Helka_rank'] = check_for_match(nadlan_df, params , params['Helka'] , 'Helka_rank' , 'Gush', 'Helka')

    params['Neighborhood_rank'] = nadlan_df.loc[(nadlan_df['Neighborhood'] == params['Neighborhood']) ,'Neighborhood_rank'].max() 
    
    # handle missing valuses Naive solution 
#     for param in params:
#         if params[param] is np.nan:
#             print(f'None: {param}')
#             params[param] = int(nadlan_df[param].mean())
            
    return params
    
    
params = calc_missing_values(df_a,params)

179348.97

In [108]:

params['Price'] = 0
params['Street'] = 'הגדוד העברי'
params['Home_number'] = 66
params['Rooms'] = 0
params['Floor'] = 0 
params['Size'] = 0
params['Build_year'] = 0
params['Floors'] = 0
params['Lat'] = 0
params['Long'] = 0 
params['Street_rank'] = 0 
params['Neighborhood_rank'] = 0
params['Age'] = 0
params['Year'] = 0
def predict_apt_price(params):
    scores = joblib.load('saved_models.pkl')

    model = scores['stacking']
    
    
    X = pd.DataFrame([params])
    

    X = pd.DataFrame([params])
    X = X.reindex(columns=["Rooms", "Floor", "Size", "Build_year", "Floors", "Long", "Lat",
                           "Year", "Age", "Neighborhood_rank", "Street_rank"])

    scaler = MinMaxScaler()
    X_scaled = scaler.fit_transform(X)

    # Predict the price using the loaded model
    y_pred = model.predict(X_scaled)
    predicted_price = y_pred[0] * 1.02  # Apply scaling or any other necessary adjustments

    return predicted_price

p = predict_apt_price(params)
p
# 3257090

3174410.4057315416

In [109]:

def recommend_affordable_apartments(df, model ,item_id):
    y = df['Price']
    X = df.drop('Price', axis=1)
    print(X.loc[0, :])

    scaler = MinMaxScaler()
    X_scaled = scaler.fit_transform(X)
    
    # Predict prices using the trained model
    y_pred = model.predict(X_scaled)
    y_pred = y_pred *1.02
    df["Predicted"] = y_pred
    df["Predicted"] = df["Predicted"].astype(int)
    df['Difference'] =  df["Price"] -  df["Predicted"] 
    mae = mean_absolute_error(y, y_pred)
    r2 = r2_score(y, y_pred)
    print(f'r2_score: {r2} , mae: {mae}')
    df['Item_id'] = item_id
    df["Predicted"] = df["Predicted"].astype(np.int32)
    df["Difference"] = df["Difference"].astype(np.int32)

    return df.sort_values(by="Difference")
# yad2_df , item_id = data_prep(valid = True , accuracy = 100 ,min_price = 1200000 ,max_price =6000000) #, accuracy = 100
yad2_df , item_id = data_prep(valid = True , accuracy = 100 ,min_price = 1200000 ,max_price =6000000) #, accuracy = 100

m = joblib.load('saved_models.pkl')

model = m['CatBoostRegressor']

yad_2_results = recommend_affordable_apartments(yad2_df,model, item_id)
yad_2_results

Prep
(233, 30)
Rooms                     2
Floor                    23
Size                     65
Build_year             1951
Floors                   30
Long                 179644
Lat                  664341
Year                   2023
Age                      72
Neighborhood_rank     43368
Street_rank           38500
Name: 0, dtype: int64
r2_score: -1.4237260297111671 , mae: 1418435.2117077787

,Rooms,Floor,Size,Price,Build_year,Floors,Long,Lat,Year,Age,Neighborhood_rank,Street_rank,Predicted,Difference,Item_id
810,3,3,59,1300000,2018,3,32,34,2023,5,53710,35849,4735302,-3435302,b8a9pycg
403,2,1,82,1790000,1950,1,32,34,2023,73,32518,35272,4616761,-2826761,u5alam9f
801,3,2,75,1990000,1960,2,32,34,2023,63,30000,38204,4738050,-2748050,k6r027lj
856,1,1,35,1350000,1950,2,32,34,2023,73,32518,29158,3895756,-2545756,yirtz6nc
822,2,1,38,1400000,1950,2,32,34,2023,73,32518,29158,3902721,-2502721,o4zxv777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,4,5,100,5250000,1975,15,32,34,2023,48,49569,22717,4466822,783178,yoh37wta
925,5,4,114,5950000,1970,10,32,34,2023,53,54285,36914,5142728,807272,8tghrvrd
938,4,1,72,4650000,2001,4,32,34,2023,22,43279,9816,3775270,874730,w8znny7n
702,4,3,120,5590000,1974,4,32,34,2023,49,38922,24260,4642177,947823,oekb1uib
590,3,1,75,5500000,1970,3,32,34,2023,53,59306,26250,4323803,1176197,12mxe8bn

In [110]:
params= {}
params['Price'] = 4000000
params['Street'] = 'הגדוד העברי'
params['Home_number'] = 66
params['Rooms'] = 3
params['Floor'] = 3 
params['Size'] = 59
params['Build_year'] = 2018
params['Neighborhood'] = None
params['Floors'] = 3 
params['Lat'] = 34
params['Long'] = 32 
params['Distance_sea'] = None 
params['Train'] = None 
params['Helka'] = None 
params['Gush'] = None 
params['Street_rank'] = 35849 
params['Helka_rank'] = None 
params['Neighborhood_rank'] = 53710
params['Age'] = 5
params['Year'] = 2023