In [6]:
import pandas as pd
import math
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from concurrent.futures import ThreadPoolExecutor
import re
import csv

In [7]:
df = pd.read_csv('Data/yad_2_data.csv')
def algo_accuracy(df):
    df['Accuracy'] = 0
    
    for row in range(df.shape[0]):
        accuracy = 20
        
        if pd.notna(df.at[row, 'Neighborhood']):
            accuracy += 10
            
        if pd.notna(df.at[row, 'Home_number']):
            accuracy += 10
            
        if df.at[row, 'Long'] != 0:
            accuracy += 10
            
        if df.at[row, 'Lat'] != 0:
            accuracy += 10
            
        if df.at[row, 'Size'] != 0 and pd.notna(df.at[row, 'Size']):
            accuracy += 10
            
        if df.at[row, 'Rooms'] != 0 and pd.notna(df.at[row, 'Rooms']):
            accuracy += 10
        
        if pd.notna(df.at[row, 'Floor']):
            accuracy += 10
            
        if pd.notna(df.at[row, 'Floors']):
            accuracy += 10
        
        df.at[row, 'Accuracy'] = accuracy
        
    return df

def drop_rows_with_keyword(df):
    keywords = ['פנטאהוס','בדמי מפתח', 'דמי מפתח', 'משרד', 'לא למגורים','סכסוך',
                'משרדים' ,'אולם','לשימור','דרוש שיפוץ','דרושה שיפוץ','להריסה','דירת פאר','מחולקת']
    df['Text'] = df['Text'].astype(str)

    # Generate the conditions for dropping rows
    conditions = [df['Text'].str.contains(keyword, case=False) for keyword in keywords]
    drop_mask = pd.concat(conditions, axis=1).any(axis=1)

    # Drop the rows that meet any of the conditions
    df = df[~drop_mask]

    return df

df = algo_accuracy(df)
df = drop_rows_with_keyword(df) 
try:
    df = df.drop(['level_0', 'index'], axis=1)
except:
    pass
df.to_csv('Data/yad_2_data.csv' ,index=False )
print(df.shape)

(5778, 39)

In [8]:
import time
def find_gush_helka(street,home_number , city = 'תל אביב '):
    search_string = f"{street} {home_number} {city}"   
    driver = webdriver.Chrome()
    driver.get("https://www.gov.il/apps/mapi/parcel_address/parcel_address.html")

    time.sleep(3)
    # Locate the input fields and button
    addr_input = driver.find_element(By.ID, "addr_m")
    search_btn = driver.find_element(By.XPATH, "/html/body/div[3]/div/div[5]/div/button")
        
    # Enter the search string and click the search button
#     addr_input.clear()
    addr_input.send_keys(search_string)
    search_btn.click()
    print(find_string)


    addr_input.clear()
    addr_input.send_keys(search_string)
    
    t =find_string.text

    driver.quit()
    
# street= 'דובנוב'
# number = 22
# find_gush_helka(street , number)

In [9]:
def add_gush_helka_tat(df):
    df.loc[:, 'Gush'] = np.nan
    df.loc[:, 'Helka'] = np.nan
    df.loc[:, 'Tat'] = np.nan

    df1_gov = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_1.csv", index_col=0)
    df2_gov = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_2.csv", index_col=0)
    df_gov = pd.merge(df1_gov, df2_gov, how='outer')
    df_gov[['Gush', 'Helka', 'Tat']] = df_gov['GUSHHELKATAT'].str.split('-|/', n=2, expand=True).astype(np.int32)
    df_gov['Home_number'] = df_gov['ADDRESS'].str.extract('(\d+)').astype(np.int32)

    # Level 1: Government Maps
    for index, row in df.iterrows():
        if pd.notna(row['Home_number']):
            home_number = row['Home_number']
            street = row['Street']

            matches = df_gov.loc[
                (df_gov['STREENNAME'].str.contains(street)) & (df_gov['Home_number'] == home_number), ['Gush', 'Helka', 'Tat']]

            if not matches.empty:
                df.loc[index, 'Gush'] = matches['Gush'].values[0]
                df.loc[index, 'Helka'] = matches['Helka'].values[0]
                df.loc[index, 'Tat'] = matches['Tat'].values[0]

    # Level 2: Nadlan Database
    print(df['Gush'].notna().sum())
    df_nadlan = pd.read_csv("Data/Nadlan.csv")
    df_nadlan[['Gush', 'Helka', 'Tat']] = df_nadlan['GUSH'].str.split('-|/', n=2, expand=True).astype(np.int32)
    df_nadlan = df_nadlan.drop(columns='GUSH', axis=1)
    df_nadlan[['Street', 'Home_number']] = df_nadlan['DISPLAYADRESS'].str.extract('(.+)\s+(\d+)')
    df_nadlan.dropna(subset=['Home_number'], inplace=True)
    df_nadlan['Home_number'] = df_nadlan['Home_number'].astype(np.int32)

    for index, row in df.iterrows():
        if pd.notna(row['Home_number']):
            home_number = row['Home_number']
            street = row['Street']

            matches = df_nadlan.loc[
                (df_nadlan['Street'].str.contains(street)) & (df_nadlan['Home_number'] == home_number), ['Gush', 'Helka', 'Tat']]

            if not matches.empty:
                df.loc[index, 'Gush'] = matches['Gush'].values[0]
                df.loc[index, 'Helka'] = matches['Helka'].values[0]
                df.loc[index, 'Tat'] = matches['Tat'].values[0]

    # Level 3: Addresses
    print(df['Gush'].notna().sum())
    df_address = pd.read_csv("Data/Addresses.csv")
    df_address['t_rechov'] = df_address['t_rechov'].replace('דוד אבידן', 'דויד אבידן')
    df_address['t_rechov'] = df_address['t_rechov'].replace('לה גווארדיה', 'לה גוארדיה')

    for index, row in df.iterrows():
        if pd.notna(row['Home_number']):
            home_number = row['Home_number']
            street = row['Street']

            gush = df_address.loc[(df_address['ms_bayit'] == home_number) & (df_address['t_rechov'].str.contains(street)), 'ms_gush']
            helka = df_address.loc[(df_address['ms_bayit'] == home_number) & (df_address['t_rechov'].str.contains(street)), 'ms_chelka']

            if not gush.empty:
                df.at[index, 'Gush'] = gush.iloc[0]
            if not helka.empty:
                df.at[index, 'Helka'] = helka.iloc[0]

            if gush.empty and helka.empty:
                street_parts = street.split(' ')
                last_part = street_parts[-1]
                matching_streets = df_address[df_address['t_rechov'].str.contains(last_part)]
                if not matching_streets.empty:
                    gush = matching_streets.loc[matching_streets['ms_bayit'] == home_number, 'ms_gush']
                    helka = matching_streets.loc[matching_streets['ms_bayit'] == home_number, 'ms_chelka']
                    if not gush.empty:
                        df.at[index, 'Gush'] = gush.iloc[0]
                    if not helka.empty:
                        df.at[index, 'Helka'] = helka.iloc[0]

    df = df.dropna(subset=['Gush', 'Helka'])
    df.loc[:, 'Gush'] = df['Gush'].astype(np.int32)
    df.loc[:, 'Helka'] = df['Helka'].astype(np.int32)

    print(df['Gush'].notna().sum())
    return df

df = add_gush_helka_tat(df)
print(f'shape {df.shape}')

685
751
1576
shape (1576, 42)

<ipython-input-9-4b0bbe78484b>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gush'] = df['Gush'].astype(np.int32)
<ipython-input-9-4b0bbe78484b>:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Helka'] = df['Helka'].astype(np.int32)

In [10]:
df = df.drop(columns=['Balconies','Parking','Balconies','Immediate'
                      ,'Ac','Furniture','On_pillars','Elevator','Storeroom','Shelter',
                     'Text','Date_of_entry','Images','Handicapped','Floors_text','Agency', 'Garden_size' 
                      , 'Date_added', 'City_code','City'], axis=1)


def update_asset_conditon(df):
    '''
    1- new from builder
    2 - new 
    3 - good
    4 - after reinovtions 
    5 - need reinovtions
    '''
    df.rename(columns = {'Asset_classification':'Condition'}, inplace = True)
    df['Condition'] = df['Condition'].astype(np.int32)
    df.loc[df['Condition'] == 2, 'Condition'] = 4 
    df.loc[df['Condition'] == 6, 'Condition'] = 2
    
    return df
    
def update_neighborhood_street(df):
    df['Street'] = df['Street'].str.strip()
    old = "'"
    new = ''
    df['Street'] = df['Street'].str.replace(old,new)
    df['Neighborhood'] = df['Neighborhood'].str.replace(old,new)
    
    old = 'כרמייה'
    new = 'כרמיה'
    df['Street'] = df['Street'].str.replace(old,new)

    df['Neighborhood'] = df['Neighborhood'].str.strip()
    old = '-'
    new = ' '
    df['Neighborhood'] = df['Neighborhood'].str.replace(old,new)
    old = 'נווה אביבים'
    new = 'נווה אביבים וסביבתה'
    df['Neighborhood'] = df['Neighborhood'].str.replace(old,new)
    df['Neighborhood'] = df['Neighborhood'].str.replace('לב תל אביב, לב העיר צפון','הצפון הישן החלק הצפוני')
    df['Neighborhood'] = df['Neighborhood'].str.replace('נוה','נווה')
    df['Neighborhood'] = df['Neighborhood'].str.replace('גני צהלה, רמות צהלה','גני צהלה')
    df['Neighborhood'] = df['Neighborhood'].str.replace('נווה אליעזר וכפר שלם מזרח','כפר שלם מזרח נווה אליעזר')
    df['Neighborhood'] = df['Neighborhood'].str.replace('גני שרונה, קרית הממשלה','גני שרונה')
    old = 'הצפון הישן   דרום'
    new = 'הצפון החדש החלק הדרומי'
    df['Neighborhood'] = df['Neighborhood'].str.replace(old,new)
    df['Neighborhood'] = df['Neighborhood'].str.replace('מכללת תל אביב יפו, דקר','דקר')

    return df
 
    
df = update_asset_conditon(df)
df = update_neighborhood_street(df)

In [11]:
def convert_coordinates(lat_long_list):
    '''
    This function use to convert UTM coordinates to ITM coordinates using outside website with selenium 
    '''
    driver = webdriver.Chrome()
    driver.get("https://zvikabenhaim.appspot.com/software/ITM/")

    # locate all the input fields and button
    lat_input = driver.find_element(By.XPATH, '//*[@id="lat"]')
    lon_input = driver.find_element(By.XPATH, '//*[@id="long"]')
    convert_button = driver.find_element(By.XPATH, '//form[1]/table/tbody/tr[3]/td/input')
    east_span = driver.find_element(By.XPATH, '//*[@id="itm_east"]')
    north_span = driver.find_element(By.XPATH, '//*[@id="itm_north"]')
    
    
    coverted_list = []
    for cords in lat_long_list:
        east = cords[0]
        north = cords[1]
        if cords[0] != 0.0 and cords[1] != 0.0:
            lat_input.clear()
            lon_input.clear()

            # send lat and long to input fields

            lat_input.send_keys(cords[0])
            lon_input.send_keys(cords[1])

            convert_button.click()


            east = east_span.text
            north = north_span.text
            
            
        coverted_list.append((east,north))
        

    driver.quit()
    return coverted_list

def convert_lat_long(df):

    def get_long_lat_tuples(df):
        long_lat_tuples = []
        for index, row in df.iterrows():
            lat = row['Lat']
            long = row['Long']

            try:
                lat = float(lat)
            except:
                lat = 0.0
            try:
                long = float(long)
            except:
                long = 0.0
                
            long_lat_tuples.append((lat, long))


        return long_lat_tuples
    
    new_cord = convert_coordinates(get_long_lat_tuples(df))
    
    for index, row in df.iterrows():  
        try:
            df.at[index,'Lat'] = new_cord[index][0]
            df.at[index,'Long'] = new_cord[index][1]
        except:
            pass


    return df

In [12]:
def find_avg_cords_by_street():
    df = pd.read_csv("Data/Nadlan_clean.csv",index_col=0)
    df = df.dropna(subset=['Long','Lat','Street']).reset_index(drop=True)
    df['Long'] = df['Long'].astype(int)
    df['Lat'] = df['Lat'].astype(int)
    
    # create unique streets list
    streets = df['Street'].unique()
    
    street_cords_avg = {}
    for street in streets:
        street_df = df[df['Street'] == street]
        
        lat_mean = street_df['Lat'].mean()
        long_mean = street_df['Long'].mean()

        street_cords_avg[street] = (long_mean ,lat_mean)
        
    return street_cords_avg
        
def complete_long_lat_columns(df,street_cords_avg):
    for index, row in df.iterrows():
        long = row['Long']
        lat = row['Lat']
        street = row['Street']
        
        try:
            cords = street_cords_avg[street]         
            if long == 0.0 or lat == 0.0:
                df.at[index, 'Long'] = cords[1]
                df.at[index, 'Lat'] = cords[0]

                
        except:
            pass

    
    df.rename(columns = {'Lat':'Temp'}, inplace = True)
    df.rename(columns = {'Long':'Lat'}, inplace = True)
    df.rename(columns = {'Temp':'Long'}, inplace = True)

    df = df.loc[(df['Lat'] != 0.0) & (df['Long'] != 0.0)]
    
    df.loc[:, 'Long'] = df['Long'].astype(np.int32)
    df.loc[:, 'Lat'] = df['Lat'].astype(np.int32)
    
    return df
            
df = convert_lat_long(df)
df =complete_long_lat_columns(df,find_avg_cords_by_street())
df

<ipython-input-12-e4439aac87e6>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Long'] = df.loc[:,'Long'].astype(np.int32)
<ipython-input-12-e4439aac87e6>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lat'] = df.loc[:,'Lat'].astype(np.int32)

,Price,Street,Neighborhood,Size,Floors,Condition,Street_id,Rooms,Floor,Long,...,Item_id,Asset_type,Broker,Accuracy,Date,Last_update,Valid,Gush,Helka,Tat
5,"5,800,000 ₪",דוד אבידן,המשתלה,148.0,8.0,5,4781.0,6.0,1.0,180805,...,9qe2e0by,‫דירות,False,90,NaN,NaN,NaN,6615,304,NaN
7,"3,300,000 ₪",יוחנן הורקנוס,הצפון הישן צפון,44.0,3.0,3,420.0,1.0,1.0,179244,...,bpvgxamv,‫דירות,False,100,NaN,NaN,NaN,6958,110,NaN
15,"38,000,000 ₪",רציף הרברט סמואל,NaN,180.0,10.0,2,1143.0,4.0,5.0,178014,...,kkksfluv,דירה,True,80,NaN,NaN,NaN,6916,120,31.0
20,"2,670,000 ₪",שקד,"נווה עופר, תל כביר",65.0,4.0,4,3010.0,3.0,1.0,181389,...,malzmipg,דירה,False,100,2023-06-19,עודכן ב 03/07/2023,NaN,6993,121,78.0
25,"3,200,000 ₪",שיבת ציון,נווה שאנן,80.0,3.0,3,2324.0,3.0,1.0,178921,...,mb12abmw,‫דירות,False,100,2023-04-12,עודכן היום,NaN,6975,68,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,"3,650,000 ₪",בן יהודה,הצפון החדש החלק הדרומי,55.0,3.0,3,510.0,2.0,2.0,178556,...,1wg5yqum,NaN,NaN,80,2023-07-17,עודכן ב 17/07/2023,1.0,6906,152,16.0
6003,"2,750,000 ₪",צופית,חלומות זכרון,112.0,5.0,2,283.0,4.0,3.0,32,...,oxvzdapo,NaN,NaN,100,2023-07-08,עודכן היום,1.0,7028,78,NaN
6004,"2,055,000 ₪",דרך ארץ,עיר היין,123.0,17.0,1,1210.0,4.0,16.0,31,...,lqmhne24,NaN,NaN,100,2023-07-12,עודכן היום,1.0,6623,946,NaN
6009,"1,750,000 ₪",קהילת קנדה,"יפו ד, גבעת התמרים",49.0,4.0,3,2199.0,2.0,1.0,176800,...,45lpdtq5,NaN,NaN,90,2022-12-16,עודכן היום,1.0,7050,177,8.0
6025,"2,250,000 ₪",אברהם לינקולן,אחוזה,180.0,6.0,4,593.0,4.0,2.0,32,...,wnipas8b,NaN,NaN,100,2023-07-16,עודכן היום,1.0,7103,88,NaN

In [13]:
df = df.dropna(subset=['Street']).reset_index(drop=True)
print(df.shape)
# (2464, 18)

(1218, 23)

In [14]:
def add_neighborhood():
    df = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_1.csv",index_col=0)
    neighborhoods = {}
    for index, row in df.iterrows():
        neighborhood = row['NEIGHBORHOOD']
        street = row['STREENNAME']
        if neighborhood not in neighborhoods:
            neighborhoods[neighborhood] = set()
        neighborhoods[neighborhood].add(street)
    return neighborhoods

def complete_neighborhood_column(df, neighborhoods):
    # Loop through each row in the DataFrame
    for index, row in df.iterrows():
        street = row['Street']
        
        # Loop through each neighborhood in the neighborhoods dictionary
        for neighborhood, streets in neighborhoods.items():
            # Check if the street is in the set of streets for the neighborhood
            if street in streets:
                # If it is, assign the neighborhood to the 'neighborhood' column for this row
                df.at[index, 'Neighborhood'] = neighborhood
                break # Break out of the inner loop once we find a match
    
    return df

df = complete_neighborhood_column(df,add_neighborhood())

In [15]:
def create_building_year_list():
    df = pd.read_csv("Data/Nadlan_clean.csv",index_col=0)
    df = df.dropna(subset=['Floors','Street','Build_year']).reset_index(drop=True)
    
    add_build_year = []
    df['Floors'] = df['Floors'].astype(int)
    df['Street'] = df['Street'].astype(str)
    df['Build_year'] = df['Build_year'].astype(int)
    
    for index, row in df.iterrows():
        floors = row['Floors']
        street = row['Street']
        build_year = row['Build_year']
        
        build_string = (str(floors)+str(street)+str(build_year)).strip()
        
        add_build_year.append(build_string)
    return list(set(add_build_year))

def complete_build_year_column(df, add_build_year):
    df['Build_year'] = 0
    df['Floors'] = df['Floors'].fillna(0)
    
    df['Floors'] = df['Floors'].astype(int)
    df['Street'] = df['Street'].astype(str)
    
    # Loop through each row in the DataFrame
    for index, row in df.iterrows():
        floors = row['Floors']
        street = row['Street']
        build_year = row['Build_year']

        build_string = (str(floors)+str(street)).strip().strip()

        for item in add_build_year:
            floors_street_year = item.strip()
            
            if floors_street_year.startswith(build_string):
                year = floors_street_year[-4:]
                year = re.findall(r'\d+', year)
                year = ''.join(year)
                df.at[index,'Build_year'] = year
                break

    return df

In [16]:
def find_avg_building_old_by_street():
    
    df = pd.read_csv("Data/Nadlan_clean.csv",index_col=0)
    df = df.dropna(subset=['Build_year','Street']).reset_index(drop=True)
    df['Build_year'] = df['Build_year'].astype(int)
    df['Street'] = df['Street'].astype(str)
    
    # create unique streets list
    streets = df['Street'].unique()
    
    street_buildings_avg = {}
    for street in streets:
        
        street_df = df[df['Street'] == street]
        street_mean = street_df['Build_year'].mean()
        
        
        street_buildings_avg[street] = street_mean
        
    return street_buildings_avg
        
def complete_building_old_by_street(df,avg_bulding_old_street):
    for index, row in df.iterrows():
        old = row['Build_year']
        street = row['Street']
        if old == 0:
            try:
                avg = avg_bulding_old_street[street] 
                df.at[index, 'Build_year'] = avg
            except:
                df.drop(index = index , inplace =True)
            
            
        
    df['Build_year'] = df['Build_year'].astype(np.int32)

    return df

df = complete_build_year_column(df,create_building_year_list())

df = complete_building_old_by_street(df,find_avg_building_old_by_street())

In [17]:
def calc_distance_from_the_see_TLV(X_coordinate, Y_coordinate):
    north_x = 180471
    north_y = 672391
    south_x = 177333
    south_y = 663016
    
    m = (south_y - north_y) / (south_x - north_x)   
    b = north_y - (m * north_x)
    
    numerator = abs(m * X_coordinate - Y_coordinate + b)
    denominator = math.sqrt(m**2 + 1)
    return numerator / denominator


def calc_distance_from_train_station(df):
    stations = [(179820.47,662424.54), (180619,664469.56), (181101.44,665688.78), (181710.96,667877.05)]
    distances = []

     # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        apartment_coords = (row['Lat'], row['Long'])

        # Calculate the distance between the apartment and each train station
        station_distances = []
        for station_coords in stations:       
            station_distance = abs(station_coords[0] - apartment_coords[1]) + abs(station_coords[1] - apartment_coords[0])
            station_distances.append(station_distance)

        # Find the minimum distance
        min_distance = min(station_distances)
        distances.append(min_distance)

    df['Train'] = distances
    df['Train'] = df['Train'].astype(np.int32)
    return df
    
def distance_from_sea_tlv(df):
    '''
    Need to fix long ? lat ? 
    '''
    df = df.dropna(subset=['Lat', 'Long']).reset_index(drop=True)
    latitudes = df['Long'].astype(float)
    longitudes = df['Lat'].astype(float)
    distances = [calc_distance_from_the_see_TLV(lat, lon) for lat, lon in zip(latitudes, longitudes)]
    df['Distance_sea'] = distances
    df['Distance_sea'] = df['Distance_sea'].astype(np.int32)
    return df

In [18]:
def edit_parking(df):
    # Not in use
    df['Parking'] = df['Parking'].str.replace('ללא','0')
    df['Parking'] = df['Parking'].astype(np.int32)
    return df

    
def add_date(df):
    # all the deals need to be 2023
    df['Year'] = 2023
    df.assign(profit='NAN')
    df['Year'].astype(np.int32)
    return df

def convert_price(df):
    df['Price'] = df['Price'].str.replace('לא צוין מחיר', '0')
    df['Price'] = df['Price'].str.replace('₪', '')
    df['Price'] = df['Price'].str.replace(',', '')
    df['Price'] = df['Price'].astype(np.int32)

    return df



def street_and_neighborhood_rank(df, column):
    df = update_neighborhood_street(df)
    df = df.dropna(subset=['Neighborhood','Street']).reset_index(drop=True)
    df_nadlan = pd.read_csv('Data/Nadlan_clean.csv', index_col=0)

        
    streets_rank = {}
    years = df_nadlan['Year'].unique()

    for year in years:
        df_by_year = df_nadlan[df_nadlan['Year'] == year]
        streets_rank[year] = {}

        for item in df_by_year[column].unique():
            df_by_item = df_by_year[df_by_year[column] == item]  # Filter df by item
            
            item_year_rank = np.nan
            if df_by_item['Size'].sum() != 0:
                item_year_rank = df_by_item['Price'].sum() / df_by_item['Size'].sum()

            streets_rank[year][item] = item_year_rank

    new_column_name = column + '_rank'
    df[new_column_name] = np.nan

    for index, row in df.iterrows():
        year = row['Year']
        item = row[column]
        found_street = False

        # Check for exact matches
        for nadlan_street in df_nadlan[column].unique():
            if item == nadlan_street:
                found_street = True
                item = nadlan_street
                break

        # Check for partial matches
        if not found_street and  found_street != False:
            for nadlan_street in df_nadlan[column].unique():
                if item in nadlan_street:
                    item = nadlan_street
                    found_street = True
                    break
                    
                check_parts = nadlan_street.split(' ')
                print(check_parts)
                if item in check_parts:
                    item = nadlan_street
                    found_street = True
                    break

        if found_street:
            for potential_year in [year, year-1, year-2 , year-3]:
                try:
                    df.at[index, new_column_name] = streets_rank[potential_year][item]
                    break
                except KeyError:
                    continue
                    
                    
        else:
            pass
#             print(f"Could not find a match for {column} '{item}'")
            
    mean = df[new_column_name].mean()
    df[new_column_name] = df[new_column_name].fillna(mean)
    df[new_column_name] = df[new_column_name].astype(np.int32)
    return df

In [19]:
df = convert_price(df)
df = distance_from_sea_tlv(df)
df = calc_distance_from_train_station(df)
df = add_date(df)
df = street_and_neighborhood_rank(df,'Neighborhood')
df = street_and_neighborhood_rank(df,'Street')
df = street_and_neighborhood_rank(df,'Gush')

In [20]:
# df.to_csv('Data/Yad2_clean.csv',index=False)

In [21]:
def check_for_match(df_nadlan, helka, year):
    helka = int(helka)
    helka_offsets = [helka - 1, helka + 1, helka + 2, helka - 2, helka + 3, helka - 3, helka + 4, helka - 4]
    for helka_offset in helka_offsets:
        for year_offset in range(4, 0, -1):
            year_temp = year - year_offset
            match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == str(helka_offset)) & (df_nadlan['Year'] == year_temp), 'Helka_rank']
            if not match.empty:
                return match
    return match


def helka_rank(df):
    count = 0
    df = df.dropna(subset=['Gush','Helka']).reset_index(drop=True)
    df_nadlan = pd.read_csv('Data/Nadlan_clean.csv', index_col=0)
    df_nadlan['Gush_Helka'] = df_nadlan['Gush'].astype(str) + df_nadlan['Helka'].astype(str)
    
    column = 'Gush_Helka'

    df[column] = df['Gush'].astype(str) + df['Helka'].astype(str)
    df[column] = df[column].str.replace('.','')
    
    for index, row in df.iterrows():
        gush_helka = row['Gush_Helka']
        year = 2023
        helka_rank = np.nan
        
        match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == gush_helka) & df_nadlan['Year'] == year  ,'Helka_rank']
        
        if match.empty:
            match = check_for_match(df_nadlan, gush_helka , year)
    
        
        if not match.empty:
            df.at[index, 'Helka_rank'] = match.values[0]
        
        if match.empty:
            count+=1
    mean = df['Helka_rank'].mean()
    df['Helka_rank'] = df['Helka_rank'].fillna(mean)
    df['Helka_rank'] = df['Helka_rank'].astype(np.int32)
    print(count)
    return df



def check_for_match_update(df_nadlan, helka):
    helka = int(helka)
    helka_offsets = [helka - 1, helka + 1, helka + 2, helka - 2, helka + 3, helka - 3, helka + 4, helka - 4]
    for helka_offset in helka_offsets:
        match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == str(helka_offset)), 'Helka_rank']
        if not match.empty:
            return match
    return match

def helka_rank_update(df):
    count = 0
    df = df.dropna(subset=['Gush','Helka']).reset_index(drop=True)
    df_nadlan = pd.read_csv('Data/Nadlan_clean.csv', index_col=0)
    df_nadlan['Gush_Helka'] = df_nadlan['Gush'].astype(str) + df_nadlan['Helka'].astype(str)
    
    column = 'Gush_Helka'

    df[column] = df['Gush'].astype(str) + df['Helka'].astype(str)
    df[column] = df[column].str.replace('.', '', regex=False)
    
    for index, row in df.iterrows():
        gush_helka = row['Gush_Helka']
        helka_rank = np.nan
        
        match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == gush_helka),'Helka_rank']
        
        if match.empty:
            match = check_for_match_update(df_nadlan, gush_helka)
    
        if not match.empty:
            df.at[index, 'Helka_rank'] = match.values[0]
        
        if match.empty:
            count+=1
      
    mean = df['Helka_rank'].mean()
    df['Helka_rank'] = df['Helka_rank'].fillna(mean)
    df['Helka_rank'] = df['Helka_rank'].astype(np.int32)
    print(count)
    return df

In [22]:
df = helka_rank_update(df)
df.to_csv('Data/Yad2_clean.csv',index=False) 
df

60

,Price,Street,Neighborhood,Size,Floors,Condition,Street_id,Rooms,Floor,Long,...,Tat,Build_year,Distance_sea,Train,Year,Neighborhood_rank,Street_rank,Gush_rank,Gush_Helka,Helka_rank
0,3300000,יוחנן הורקנוס,הצפון הישן החלק הצפוני,44.0,3,3,420.0,1.0,1.0,179244,...,NaN,1950,907,2034,2023,59259,53846,49180,6958110,58255
1,38000000,רציף הרברט סמואל,הצפון הישן החלק הדרומי,180.0,10,2,1143.0,4.0,5.0,178014,...,31.0,1991,131,2772,2023,60846,30544,54137,6916120,118987
2,2670000,שקד,תל כביר/נווה עופר/יפו ב,65.0,4,4,3010.0,3.0,1.0,181389,...,78.0,1970,4381,2664,2023,28802,29703,27522,6993121,32776
3,3200000,שיבת ציון,נווה שאנן,80.0,3,3,2324.0,3.0,1.0,178921,...,8.0,1960,1645,1050,2023,50033,54512,30774,697568,14692
4,6650000,אורי צבי גרינברג,אזורי חן,129.0,11,4,3103.0,5.0,2.0,180771,...,45.0,1995,806,3809,2023,48071,26537,46875,662019,41425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,4000000,קהילת לבוב,הדר יוסף,100.0,1,4,244.0,2.0,1.0,32,...,NaN,1960,42305,842179,2023,43844,79615,43985,6636295,47813
1022,7000000,בילטמור,הצפון החדש סביבת כיכר המדינה,110.0,3,3,911.0,4.0,1.0,32,...,3.0,1958,42305,842179,2023,66047,71394,66673,6213875,67331
1023,6500000,הר נבו,הצפון הישן החלק הצפוני,400.0,0,3,420.0,11.0,0.0,31,...,NaN,1950,42304,842180,2023,59259,33524,65909,6214505,54604
1024,3650000,בן יהודה,הצפון הישן החלק הצפוני,55.0,3,3,510.0,2.0,2.0,178556,...,16.0,1970,333,2616,2023,59259,59033,55181,6906152,67752
1025,1750000,קהילת קנדה,יפו ד (גבעת התמרים,49.0,4,3,2199.0,2.0,1.0,176800,...,8.0,1960,476,5522,2023,34361,39195,36309,7050177,30406

In [23]:
def append_to_file():
    file_path = "status.txt"
    message = "yad_2_clean pass-success"

    try:
        # Open the file in append mode
        with open(file_path, "a") as file:
            # Append the message on a new line
            file.write("\n" + message)

        print("Message appended to the file successfully!")
    except Exception as e:
        print("An error occurred while appending to the file:", str(e))

# Call the function to append to the file
append_to_file()

Message appended to the file successfully!