In [56]:
import pandas as pd
import math
import requests
from bs4 import BeautifulSoup
import numpy as np
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor
import re
import csv
import time

In [57]:
df = pd.read_csv('Data/madlan_data.csv')
# df = df.dropna(subset =['Baths'])
print(df.shape)

def fix_BuildingClass(df):
    df.rename(columns = {'BuildingClass':'Asset_type'}, inplace = True)
    df = df[df['Asset_type'].apply(lambda x:x in ['flat','gardenapartment','roofflat','building','studio'])]
    return df

df = fix_BuildingClass(df)
print(df.shape)

(428, 18)
(354, 18)

In [58]:
def get_gush_chelka_api(address):
    headers = {
        'sec-ch-ua': '"Not/A)Brand";v="99", "Google Chrome";v="115", "Chromium";v="115"',
        'auth_data': '{"api_token":"03387185-da2d-4cb4-a3c6-2292a3df7915","user_token":"","domain":"www.gov.il","token":"qMZlz1IwqfKc6WhO6qet3OHGjLusa/tBvtVdRBurehytCsrtnVhcI81jhg/2pDc39ChRLpK7C+mzq4rg5GjqdHfTQJANTYMPAmVWrfMwL4O2AMtdLCq+QEt/inww791B+vWYq7Z0PiAq8lUPSBuB1//YGsM/BvB9daJoQwguhya+2NxIm2JK2gfMp+RnSHzGdn4LFWLuLw3lHHYzhGT8Q8+3vzRbF/vSl79P7qNAoLxGPApgGa80OA==","user_id":178592,"isAdmin":false,"expires":"2023-08-15T21:20:19.0844919+03:00"}',
        'sec-ch-ua-mobile': '?0',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
        'Content-Type': 'application/json; charset=UTF-8',
        'Accept': 'application/json, text/javascript, */*; q=0.01',
        'Referer': 'https://www.gov.il/',
        'sec-ch-ua-platform': '"Windows"',
    }

    json_data = {
        'type': 0,
        'address': address,
    }

    response = requests.post('https://ags.govmap.gov.il/Api/Controllers/GovmapApi/SearchAndLocate', headers=headers, json=json_data)
    if response.status_code == 200:
        data = response.json()
        if data['status'] != 0:
            return False
        if 'data' in data and len(data['data']) > 0 and 'Values' in data['data'][0]:
            print("data")
            return [int(value) for value in data['data'][0]['Values']]
    return False

In [59]:
def add_gush_helka_tat(df, city='תל אביב'):
    df.loc[:, 'Gush'] = np.nan
    df.loc[:, 'Helka'] = np.nan
    df.loc[:, 'Tat'] = np.nan

    df1_gov = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_1.csv", index_col=0)
    df2_gov = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_2.csv", index_col=0)
    df_gov = pd.merge(df1_gov, df2_gov, how='outer')
    df_gov[['Gush', 'Helka', 'Tat']] = df_gov['GUSHHELKATAT'].str.split('-|/', n=2, expand=True).astype(np.int32)
    df_gov['Home_number'] = df_gov['ADDRESS'].str.extract('(\d+)').astype(np.int32)
    
    # Level 0: Government Maps API
#     for index, row in df.iterrows():
#         if pd.notna(row['Home_number']):
#             home_number = int(row['Home_number'])
#             street = row['Street']
            
#             for home_n in range(0,10,2):
#                 home_number = home_number + home_n
#                 address = str(street)+' '+str(home_number)+' '+city
#                 gush_chelka = get_gush_chelka_api(address)
#                 if gush_chelka:
#                     df.loc[index, 'Gush'] = gush_chelka[0]
#                     df.loc[index, 'Helka'] = gush_chelka[1]
#                     break
            
    # Level 1: Government Maps
    for index, row in df.iterrows():
        if pd.notna(row['Home_number']) and pd.isna(row['Gush']):
            home_number = row['Home_number']
            street = row['Street']

            matches = df_gov.loc[
                (df_gov['STREENNAME'].str.contains(street)) & (df_gov['Home_number'] == home_number), ['Gush', 'Helka', 'Tat']]

            if not matches.empty:
                df.loc[index, 'Gush'] = matches['Gush'].values[0]
                df.loc[index, 'Helka'] = matches['Helka'].values[0]
                df.loc[index, 'Tat'] = matches['Tat'].values[0]

    # Level 2: Nadlan Database
    print(df['Gush'].notna().sum())
    df_nadlan = pd.read_csv("Data/Nadlan.csv")
    df_nadlan[['Gush', 'Helka', 'Tat']] = df_nadlan['GUSH'].str.split('-|/', n=2, expand=True).astype(np.int32)
    df_nadlan = df_nadlan.drop(columns='GUSH', axis=1)
    df_nadlan[['Street', 'Home_number']] = df_nadlan['DISPLAYADRESS'].str.extract('(.+)\s+(\d+)')
    df_nadlan.dropna(subset=['Home_number'], inplace=True)
    df_nadlan['Home_number'] = df_nadlan['Home_number'].astype(np.int32)

    for index, row in df.iterrows():
        if pd.notna(row['Home_number']) and pd.isna(row['Gush']):
            home_number = row['Home_number']
            street = row['Street']

            matches = df_nadlan.loc[
                (df_nadlan['Street'].str.contains(street)) & (df_nadlan['Home_number'] == home_number), ['Gush', 'Helka', 'Tat']]

            if not matches.empty:
                df.loc[index, 'Gush'] = matches['Gush'].values[0]
                df.loc[index, 'Helka'] = matches['Helka'].values[0]
                df.loc[index, 'Tat'] = matches['Tat'].values[0]

    # Level 3: Addresses
    print(df['Gush'].notna().sum())
    df_address = pd.read_csv("Data/Addresses.csv")
    for index, row in df.iterrows():
        if pd.notna(row['Home_number']):
            home_number = row['Home_number']
            street = row['Street']

            gush = df_address.loc[(df_address['ms_bayit'] == home_number) & (df_address['t_rechov'].str.contains(street)), 'ms_gush']
            helka = df_address.loc[(df_address['ms_bayit'] == home_number) & (df_address['t_rechov'].str.contains(street)), 'ms_chelka']

            if not gush.empty:
                df.at[index, 'Gush'] = gush.iloc[0]
            if not helka.empty:
                df.at[index, 'Helka'] = helka.iloc[0]

            if gush.empty and helka.empty:
                street_parts = street.split(' ')
                last_part = street_parts[-1]
                matching_streets = df_address[df_address['t_rechov'].str.contains(last_part)]
                if not matching_streets.empty:
                    gush = matching_streets.loc[matching_streets['ms_bayit'] == home_number, 'ms_gush']
                    helka = matching_streets.loc[matching_streets['ms_bayit'] == home_number, 'ms_chelka']
                    if not gush.empty:
                        df.at[index, 'Gush'] = gush.iloc[0]
                    if not helka.empty:
                        df.at[index, 'Helka'] = helka.iloc[0]

    df = df.dropna(subset=['Gush', 'Helka'])
    df.loc[:, 'Gush'] = df['Gush'].astype(np.int32)
    df.loc[:, 'Helka'] = df['Helka'].astype(np.int32)

    print(df['Gush'].notna().sum())
    return df

df = add_gush_helka_tat(df)
print(f'shape {df.shape}')

178
190
316
shape (316, 21)

C:\Users\yoavl\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [60]:
def create_building_year_dict():
    df = pd.read_csv("Data/Nadlan_clean.csv",index_col=0)
    df_sub = df.dropna(subset=['Floors','Street','Build_year'])
    max_build_years = df_sub.groupby(['Street', 'Home_number'])['Build_year'].max()
    return max_build_years.to_dict()

def fix_build_year(df):
    df = df.dropna(subset=['Street'])
    if 'Build_year' not in df.columns:
        df['Build_year'] = np.nan
        
    print(df[df['Build_year'].isna()].shape)

    # Use Nadlan data to fill missing Build_years
    nadlan_dict = create_building_year_dict()
    df.set_index(['Street', 'Home_number'], inplace=True)
    df['Build_year'].fillna(nadlan_dict, inplace=True)
    df.reset_index(inplace=True)
    
    print(df[df['Build_year'].isna()].shape)
    
    # For the ones still missing, use the average build year by street
    street_buildings_avg = df.groupby('Street')['Build_year'].transform('mean')
    df['Build_year'].fillna(street_buildings_avg, inplace=True)

    print(df[df['Build_year'].isna()].shape)
    df['Build_year'].fillna(df['Build_year'].mean(), inplace=True)
    df['Build_year'] = df['Build_year'].astype(np.int32)
    return df

df = fix_build_year(df)

(229, 21)
(118, 21)
(80, 21)

In [61]:

def fix_floors(df):
    # Loading nadlan data
    nadlan = pd.read_csv("Data/Nadlan_clean.csv", index_col=0)
    nadlan = nadlan.dropna(subset=['Floors', 'Street', 'Home_number']).reset_index(drop=True)
    df['Floors'] = np.nan

    max_floors = nadlan.groupby(['Street', 'Home_number'])['Floors'].max().reset_index()
    max_floors_dict = {(row['Street'], row['Home_number']): row['Floors'] for _, row in max_floors.iterrows()}
    
    for idx, row in df.iterrows():
        if pd.isna(row['Floors']):
            match = max_floors_dict.get((row['Street'], row['Home_number']), np.nan)
            if not pd.isna(match):
                df.at[idx, 'Floors'] = match
    
    street_avg_floors = nadlan.groupby('Street')['Floors'].mean().round().reset_index()
    street_avg_floors_dict = {row['Street']: row['Floors'] for _, row in street_avg_floors.iterrows()}
    
    for idx, row in df[df['Floors'].isna()].iterrows():
        match = street_avg_floors_dict.get(row['Street'], np.nan)
        if not pd.isna(match):
            df.at[idx, 'Floors'] = match   
            
    df.loc[df['Floor'] > df['Floors'], 'Floors'] = df['Floor']
    df['Floors'] = df['Floors'].fillna(df['Floor'])
    return df


def fix_condition(df):
    df['Condition'] = df['Condition'].apply(lambda x: 1 if x == 'new' else 0)
    df['Condition'] =  df['Condition'].astype(np.int32)
    df.rename(columns = {'Condition':'New'}, inplace = True)

    return df

df = fix_floors(df)
df = fix_condition(df)

In [62]:
def convert_coordinates(lat_long_list):
    '''
    This function use to convert UTM coordinates to ITM coordinates using outside website with selenium 
    '''
    service = Service("C:/Users/yoavl/NextRoof/chromedriver_win32/chromedriver.exe")
    driver = webdriver.Chrome(service=service)
    driver.get("https://zvikabenhaim.appspot.com/software/ITM/")

    # locate all the input fields and button
    lat_input = driver.find_element(By.XPATH, '//*[@id="lat"]')
    lon_input = driver.find_element(By.XPATH, '//*[@id="long"]')
    convert_button = driver.find_element(By.XPATH, '//form[1]/table/tbody/tr[3]/td/input')
    east_span = driver.find_element(By.XPATH, '//*[@id="itm_east"]')
    north_span = driver.find_element(By.XPATH, '//*[@id="itm_north"]')
    
    
    coverted_list = []
    for cords in lat_long_list:
        east = cords[0]
        north = cords[1]
        if cords[0] != 0.0 and cords[1] != 0.0:
            lat_input.clear()
            lon_input.clear()

            lat_input.send_keys(cords[0])
            lon_input.send_keys(cords[1])

            convert_button.click()


            east = east_span.text
            north = north_span.text
            
            
        coverted_list.append((east,north))
        

    driver.quit()
    return coverted_list

def convert_lat_long(df):

    def get_long_lat_tuples(df):
        long_lat_tuples = []
        for index, row in df.iterrows():
            lat = row['Lat']
            long = row['Long']

            try:
                lat = float(lat)
            except:
                lat = 0.0
            try:
                long = float(long)
            except:
                long = 0.0  
            long_lat_tuples.append((lat, long))
        return long_lat_tuples
    
    new_cord = convert_coordinates(get_long_lat_tuples(df))
    
    for index, row in df.iterrows():  
        try:
            df.at[index,'Lat'] = new_cord[index][0]
            df.at[index,'Long'] = new_cord[index][1]
        except:
            pass
    return df

In [63]:
def find_avg_cords_by_street():
    df = pd.read_csv("Data/Nadlan_clean.csv",index_col=0)
    df = df.dropna(subset=['Long','Lat','Street']).reset_index(drop=True)
    df['Long'] = df['Long'].astype(int)
    df['Lat'] = df['Lat'].astype(int)
    
    # create unique streets list
    streets = df['Street'].unique()
    
    street_cords_avg = {}
    for street in streets:
        street_df = df[df['Street'] == street]
        
        lat_mean = street_df['Lat'].mean()
        long_mean = street_df['Long'].mean()

        street_cords_avg[street] = (long_mean ,lat_mean)
        
    return street_cords_avg
        
def complete_long_lat_columns(df,street_cords_avg):
    for index, row in df.iterrows():
        long = row['Long']
        lat = row['Lat']
        street = row['Street']
        
        try:
            cords = street_cords_avg[street]         
            if long == 0.0 or lat == 0.0:
                df.at[index, 'Long'] = cords[1]
                df.at[index, 'Lat'] = cords[0]      
        except:
            pass

    
    df.rename(columns = {'Lat':'Temp'}, inplace = True)
    df.rename(columns = {'Long':'Lat'}, inplace = True)
    df.rename(columns = {'Temp':'Long'}, inplace = True)

    df = df.loc[(df['Lat'] != 0.0) & (df['Long'] != 0.0)]
    
    df.loc[:, 'Long'] = df['Long'].astype(np.int32)
    df.loc[:, 'Lat'] = df['Lat'].astype(np.int32)
    
    return df
            
# df = convert_lat_long(df)
# df =complete_long_lat_columns(df,find_avg_cords_by_street())
print(df.shape)

(316, 22)

In [64]:
def add_year(df):
    current_year = datetime.now().year
    df['Year'] = current_year
    df.assign(profit='NAN')
    df['Year'].astype(np.int32)
    return df

In [65]:
def update_neighborhood_street_token(df):
    df['Street'] = df['Street'].str.strip().str.replace("'", "")
    df['Neighborhood'] = df['Neighborhood'].str.strip()

    replacements_street = {
            "כרמייה": "כרמיה"
        }

    replacements_neighborhood = {
            "'": "",
            "-": " ",
            "נווה אביבים": "נווה אביבים וסביבתה",
            "לב תל אביב, לב העיר צפון": "הצפון הישן החלק הצפוני",
            "נוה": "נווה",
            "גני צהלה, רמות צהלה": "גני צהלה",
            "נווה אליעזר וכפר שלם מזרח": "כפר שלם מזרח נווה אליעזר",
            "גני שרונה, קרית הממשלה": "גני שרונה",
            "הצפון הישן   דרום": "הצפון החדש החלק הדרומי",
            "מכללת תל אביב יפו, דקר": "דקר"
        }

    for old, new in replacements_street.items():
        df['Street'] = df['Street'].str.replace(old, new)

    for old, new in replacements_neighborhood.items():
        df['Neighborhood'] = df['Neighborhood'].str.replace(old, new)
    return df 


def street_and_neighborhood_rank(df, column):
    df = update_neighborhood_street_token(df)
    df = df.dropna(subset=['Neighborhood','Street']).reset_index(drop=True)
    df_nadlan = pd.read_csv('Data/Nadlan_clean.csv', index_col=0)

        
    rank = df_nadlan.groupby(['Year', column])\
        .apply(lambda x: np.nan if x['Size'].sum() == 0 else x['Price'].sum() / x['Size'].sum())\
        .unstack().to_dict(orient="index")

    new_column_name = column + '_rank'
    df[new_column_name] = np.nan

    for index, row in df.iterrows():
        year = row['Year']
        item = row[column]
        found_street = False

        for nadlan_street in df_nadlan[column].unique():
            if item == nadlan_street:
                found_street = True
                item = nadlan_street
                break

        if not found_street and  found_street != False:
            for nadlan_street in df_nadlan[column].unique():
                if item in nadlan_street:
                    item = nadlan_street
                    found_street = True
                    break
                    
                check_parts = nadlan_street.split(' ')
                print(check_parts)
                if item in check_parts:
                    item = nadlan_street
                    found_street = True
                    break

        if found_street:
            for potential_year in [year, year-1, year-2 , year-3]:
                try:
                    df.at[index, new_column_name] = rank[potential_year][item]
                    break
                except KeyError:
                    continue               
        else:
            pass
            
    mean = df[new_column_name].mean()
    df[new_column_name] = df[new_column_name].fillna(mean)
    df[new_column_name] = df[new_column_name].astype(np.int32)
    return df



df = add_year(df)
df = street_and_neighborhood_rank(df,'Neighborhood')
df = street_and_neighborhood_rank(df,'Street')
df = street_and_neighborhood_rank(df,'Gush')

,Street,Home_number,Item_id,Lat,Long,City,Rooms,Neighborhood,Floor,Baths,...,Asset_type,Images,Gush,Helka,Tat,Floors,Year,Neighborhood_rank,Street_rank,Gush_rank
0,עין הקורא,18,dDWKk7Qtpnf,32.057245,34.782693,תל אביב יפו,2.0,נווה שאנן,5.0,NaN,...,flat,"['/bulletin/dDWKk7Qtpnf/bosRcd.jpg', '/bulleti...",6944,82,NaN,5.0,2023,51672,48305,48305
1,נחום,38,btbIetNpaGY,32.089581,34.777868,תל אביב יפו,3.5,הצפון הישן החלק הצפוני,1.0,NaN,...,flat,"['/bulletin/btbIetNpaGY/kB7gn.jpg', '/bulletin...",6132,289,NaN,3.0,2023,60675,54831,51200
2,בזל,14,bgWP3MofHTr,32.090116,34.777054,תל אביב יפו,3.0,הצפון הישן החלק הצפוני,7.0,NaN,...,flat,"['/bulletin/bgWP3MofHTr/32S0R.jpg', '/bulletin...",6956,118,NaN,7.0,2023,60675,54831,51200
3,רמה,3,bxhbc66ZpTP,32.119466,34.841451,תל אביב יפו,4.0,נווה שרת,6.0,NaN,...,flat,['bulletins/b5d2238f-1fa1-43d5-9b61-07166c2e50...,7065,142,72.0,24.0,2023,38921,42523,41314
4,בני אפרים,209,doXEXSjV8U8,32.111256,34.816224,תל אביב יפו,4.0,מעוז אביב א,1.0,NaN,...,flat,"['/bulletin/doXEXSjV8U8/mLW6R.jpg', '/bulletin...",6636,654,4.0,5.0,2023,51484,30208,41947

In [66]:

def check_for_match(df_nadlan, parcel):
    parcel = int(parcel)
    parcel_offsets = [parcel - 1, parcel + 1, parcel + 2, parcel - 2, parcel + 3, parcel - 3, parcel + 4, parcel - 4]
    for parcel_offset in parcel_offsets:
        match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == str(parcel_offset)), 'Helka_rank']
        if not match.empty:
            return match
    return match

def parcel_rank(df):
    count = 0
    df = df.dropna(subset=['Gush','Helka']).reset_index(drop=True)
    df_nadlan = pd.read_csv('Data/Nadlan_clean.csv', index_col=0)
    df_nadlan['Gush_Helka'] = df_nadlan['Gush'].astype(str) + df_nadlan['Helka'].astype(str)
    
    column = 'Gush_Helka'
    df[column] = df['Gush'].astype(str) + df['Helka'].astype(str)
    df[column] = df[column].str.replace('.', '', regex=False)
    
    for index, row in df.iterrows():
        gush_helka = row['Gush_Helka']
        match = df_nadlan.loc[(df_nadlan['Gush_Helka'] == gush_helka),'Helka_rank']
        print(match)
        if match.empty:
            match = check_for_match(df_nadlan, gush_helka)
    
        if not match.empty:
            df.at[index, 'Helka_rank'] = match.values[0]
        
        if match.empty:
            count+=1
            
    df['Helka_rank'] = df['Helka_rank'].fillna(df['Helka_rank'].mean()).astype(np.int32)
    print(count)
    return df


df = df.dropna(subset = ['Size'])
df['Year'] = df['Year'].astype(np.int32)
df['Size'] = df['Size'].astype(np.int32)
df = parcel_rank(df)

Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
41313    29544
50080    29544
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
1125     36413
1843     36413
4085     36413
5439     36413
9186     36413
11040    36413
11551    36413
11867    36413
12580    36413
18195    36413
21355    36413
21614    36413
27378    36413
39110    36413
39796    36413
41274    36413
44916    36413
47805    36413
48564    36413
49055    36413
50422    36413
57725    36413
59686    36413
60276    36413
62072    36413
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
41313    29544
50080    29544
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
1125     36413
1843     36413
4085     36413
5439     36413
9186     36413
11040    36413
11551    36413
11867    36413
12580    36413
18195    36413
21355    36413
21614    36413
27378    36413
39110    36413
39796    36413
41274    36413
44916    36413
47805    36413
48564    36413
49055    36413
50422    36413
57725    36413
59686    36413
60276    36413
62072    36413
Name: Helka_rank, dtype: int64
6260     27629
12390    27629
13133    27629
16608    27629
20946    27629
24649    27629
27171    27629
28143    27629
42752    27629
49309    27629
Name: Helka_rank, dtype: int64
1520     102467
27337    102467
28750    102467
28757    102467
29144    102467
30238    102467
31071    102467
31424    102467
35470    102467
36100    102467
36227    102467
36797    102467
37024    102467
37601    102467
37658    102467
37673    102467
37711    102467
37766    102467
37781    102467
37823    102467
37837    102467
37855    102467
37937    102467
38149    102467
38606    102467
38888    102467
43023    102467
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
7388     51104
12199    51104
18537    51104
19994    51104
23158    51104
24720    51104
29879    51104
37231    51104
37383    51104
37558    51104
39290    51104
39321    51104
39437    51104
39518    51104
39641    51104
40735    51104
42315    51104
47229    51104
49867    51104
50183    51104
50199    51104
50352    51104
50935    51104
51372    51104
51551    51104
51799    51104
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
2692    37835
3550    37835
3622    37835
3778    37835
3782    37835
3944    37835
Name: Helka_rank, dtype: int64
41       54225
43       54225
44       54225
75       54225
108      54225
         ...
61718    54225
61841    54225
61852    54225
61919    54225
62117    54225
Name: Helka_rank, Length: 1118, dtype: int64
3816     47212
6849     47212
14549    47212
16353    47212
32530    47212
35269    47212
39670    47212
40563    47212
61846    47212
Name: Helka_rank, dtype: int64
27932    57761
29133    57761
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
6951     53798
24568    53798
Name: Helka_rank, dtype: int64
17836    23529
34620    23529
36388    23529
37565    23529
Name: Helka_rank, dtype: int64
13587    59670
16308    59670
16806    59670
18214    59670
18425    59670
19679    59670
21810    59670
22560    59670
22561    59670
22761    59670
23370    59670
23405    59670
23407    59670
23468    59670
Name: Helka_rank, dtype: int64
29907    78458
43180    78458
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
8456     17506
12675    17506
19125    17506
21478    17506
23952    17506
24553    17506
25543    17506
28501    17506
35493    17506
41728    17506
43016    17506
45789    17506
46956    17506
50789    17506
Name: Helka_rank, dtype: int64
2727     20261
7255     20261
8007     20261
8634     20261
19423    20261
21691    20261
42961    20261
43428    20261
45595    20261
57949    20261
60998    20261
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
11872    53622
20376    53622
26466    53622
29485    53622
45397    53622
49320    53622
Name: Helka_rank, dtype: int64
404      38948
1409     38948
1680     38948
1748     38948
1795     38948
2483     38948
3190     38948
3435     38948
7003     38948
7031     38948
10027    38948
10038    38948
10069    38948
10785    38948
25555    38948
28516    38948
32368    38948
33013    38948
34544    38948
34606    38948
35931    38948
37882    38948
40606    38948
41414    38948
43209    38948
45351    38948
45424    38948
46205    38948
48082    38948
52023    38948
52118    38948
53525    38948
57344    38948
58167    38948
58168    38948
58238    38948
58348    38948
58402    38948
59037    38948
60143    38948
60180    38948
60228    38948
61314    38948
61559    38948
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
8456     17506
12675    17506
19125    17506
21478    17506
23952    17506
24553    17506
25543    17506
28501    17506
35493    17506
41728    17506
43016    17506
45789    17506
46956    17506
50789    17506
Name: Helka_rank, dtype: int64
1768     20720
2493     20720
3017     20720
6796     20720
11421    20720
         ...
57804    20720
59041    20720
60195    20720
60767    20720
61231    20720
Name: Helka_rank, Length: 61, dtype: int64
1238     54885
3007     54885
9270     54885
20838    54885
21765    54885
31029    54885
39779    54885
57205    54885
58184    54885
59713    54885
61189    54885
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
4623     50069
9850     50069
20194    50069
45425    50069
45538    50069
53912    50069
55342    50069
Name: Helka_rank, dtype: int64
752      53312
59386    53312
Name: Helka_rank, dtype: int64
28442    38729
34451    38729
39450    38729
50615    38729
51611    38729
Name: Helka_rank, dtype: int64
9760     60511
17489    60511
32020    60511
32947    60511
36370    60511
42408    60511
Name: Helka_rank, dtype: int64
752      53312
59386    53312
Name: Helka_rank, dtype: int64
8456     17506
12675    17506
19125    17506
21478    17506
23952    17506
24553    17506
25543    17506
28501    17506
35493    17506
41728    17506
43016    17506
45789    17506
46956    17506
50789    17506
Name: Helka_rank, dtype: int64
34215    75473
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
8538     52290
27380    52290
46087    52290
48483    52290
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
14436    68727
27429    68727
27812    68727
Name: Helka_rank, dtype: int64
3346     32891
7171     32891
7678     32891
8682     32891
10764    32891
11465    32891
11531    32891
12544    32891
13438    32891
13588    32891
13788    32891
13979    32891
14420    32891
14584    32891
15171    32891
19130    32891
19637    32891
20536    32891
21266    32891
21307    32891
23237    32891
25076    32891
25551    32891
26757    32891
26812    32891
27642    32891
28586    32891
28611    32891
29066    32891
29147    32891
29832    32891
30854    32891
31276    32891
33723    32891
34096    32891
42844    32891
44277    32891
45718    32891
47929    32891
49553    32891
49732    32891
52315    32891
56165    32891
58629    32891
61495    32891
Name: Helka_rank, dtype: int64
21475    29868
23736    29868
45204    29868
48271    29868
48347    29868
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
37483    67827
Name: Helka_rank, dtype: int64
8837     55656
19646    55656
21192    55656
22830    55656
24103    55656
24186    55656
26010    55656
27845    55656
28378    55656
28393    55656
28529    55656
29084    55656
29097    55656
29549    55656
29647    55656
31334    55656
31337    55656
53750    55656
55951    55656
55962    55656
56302    55656
56694    55656
56695    55656
56759    55656
Name: Helka_rank, dtype: int64
3097     26745
6136     26745
6482     26745
8517     26745
9223     26745
10324    26745
36051    26745
38827    26745
39712    26745
61267    26745
Name: Helka_rank, dtype: int64
32995    63074
48774    63074
50557    63074
51205    63074
54496    63074
Name: Helka_rank, dtype: int64
171      29421
693      29421
13679    29421
16551    29421
16683    29421
17777    29421
20881    29421
22030    29421
22090    29421
22987    29421
23724    29421
26141    29421
30605    29421
35670    29421
35890    29421
38260    29421
38812    29421
38993    29421
40195    29421
42885    29421
44809    29421
46773    29421
48562    29421
48892    29421
50525    29421
51849    29421
58744    29421
59329    29421
Name: Helka_rank, dtype: int64
17221    77135
30703    77135
31094    77135
40518    77135
47085    77135
49103    77135
49108    77135
49619    77135
50476    77135
50722    77135
50723    77135
50724    77135
51664    77135
Name: Helka_rank, dtype: int64
1429     63695
2715     63695
5575     63695
8208     63695
15600    63695
21792    63695
21811    63695
21894    63695
22259    63695
27298    63695
28367    63695
32858    63695
59924    63695
60963    63695
Name: Helka_rank, dtype: int64
1648     58483
2953     58483
3467     58483
4261     58483
11073    58483
23084    58483
23234    58483
25162    58483
26455    58483
32147    58483
32610    58483
33357    58483
33511    58483
35016    58483
35639    58483
37200    58483
41421    58483
43266    58483
47163    58483
47251    58483
49276    58483
51598    58483
56570    58483
60094    58483
61162    58483
61594    58483
62179    58483
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
20242    67155
21073    67155
21321    67155
26775    67155
26779    67155
31599    67155
34174    67155
37851    67155
51185    67155
51876    67155
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)

Series([], Name: Helka_rank, dtype: int64)
13682    73226
51491    73226
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
3414     28272
3491     28272
4495     28272
4633     28272
6197     28272
8899     28272
10286    28272
16529    28272
19755    28272
20405    28272
21273    28272
21276    28272
43574    28272
52007    28272
55374    28272
55495    28272
58454    28272
61535    28272
Name: Helka_rank, dtype: int64
1021     33691
4514     33691
5675     33691
10910    33691
11446    33691
11855    33691
12184    33691
12423    33691
12869    33691
13093    33691
15784    33691
34537    33691
42101    33691
43236    33691
47640    33691
59590    33691
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
2937    68607
Name: Helka_rank, dtype: int64
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
7892     60084
37856    60084
39218    60084
50316    60084
Name: Helka_rank, dtype: int64
2079     55977
17273    55977
52506    55977
52897    55977
54903    55977
59117    55977
60455    55977
Name: Helka_rank, dtype: int64
1729     49099
19766    49099
20665    49099
28467    49099
30157    49099
31565    49099
33602    49099
33674    49099
34362    49099
36426    49099
36832    49099
37374    49099
37385    49099
37609    49099
37889    49099
38050    49099
40069    49099
43145    49099
44086    49099
60160    49099
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
817      62292
1040     62292
1090     62292
2164     62292
2877     62292
3001     62292
6128     62292
7990     62292
8832     62292
9450     62292
10567    62292
11869    62292
12284    62292
12410    62292
12967    62292
14917    62292
15254    62292
16216    62292
18897    62292
25037    62292
57713    62292
59430    62292
59594    62292
59696    62292
60553    62292
61218    62292
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
9827     68640
18297    68640
19035    68640
24596    68640
25736    68640
35417    68640
Name: Helka_rank, dtype: int64
34359    51079
49433    51079
Name: Helka_rank, dtype: int64
10476    48967
24035    48967
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
24997    40858
33173    40858
49663    40858
Name: Helka_rank, dtype: int64
38593    19796
Name: Helka_rank, dtype: int64
10162    29037
15189    29037
18642    29037
28954    29037
37404    29037
42516    29037
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
9516    35625
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
14226    52242
33242    52242
34473    52242
43383    52242
Name: Helka_rank, dtype: int64
6204     50803
12899    50803
34512    50803
38450    50803
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
27330    47400
31697    47400
32763    47400
33295    47400
Name: Helka_rank, dtype: int64
27330    47400
31697    47400
32763    47400
33295    47400
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
3621     26258
10056    26258
10757    26258
13428    26258
13808    26258
17669    26258
23065    26258
24928    26258
49075    26258
58043    26258
61719    26258
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
2154     45094
46903    45094
49126    45094
60537    45094
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
122      24029
685      24029
4031     24029
4304     24029
9558     24029
9625     24029
14255    24029
15223    24029
16591    24029
19552    24029
20962    24029
21860    24029
23102    24029
24366    24029
25311    24029
25540    24029
26038    24029
26194    24029
27343    24029
31104    24029
31648    24029
32917    24029
34311    24029
37056    24029
37225    24029
37597    24029
39185    24029
40148    24029
40397    24029
41995    24029
42133    24029
42201    24029
44405    24029
46452    24029
46991    24029
47265    24029
47499    24029
48197    24029
48372    24029
48521    24029
49114    24029
49160    24029
50257    24029
51967    24029
53749    24029
57659    24029
58095    24029
58668    24029
59318    24029
62042    24029
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
9291     58716
9661     58716
21027    58716
27300    58716
31798    58716
48619    58716
Name: Helka_rank, dtype: int64
3131     51975
61307    51975
Name: Helka_rank, dtype: int64
3131     51975
61307    51975
Name: Helka_rank, dtype: int64
44987    27791
Name: Helka_rank, dtype: int64
5874     41040
23204    41040
28322    41040
35629    41040
Name: Helka_rank, dtype: int64
5602     52316
6726     52316
10763    52316
10818    52316
11251    52316
13901    52316
14648    52316
14778    52316
24164    52316
24266    52316
31150    52316
31776    52316
36369    52316
38325    52316
40112    52316
57360    52316
58418    52316
Name: Helka_rank, dtype: int64
41154    55929
56591    55929
Name: Helka_rank, dtype: int64
8695     46260
9314     46260
13386    46260
18338    46260
23530    46260
29904    46260
34253    46260
35167    46260
35280    46260
36730    46260
37595    46260
39619    46260
42143    46260
42732    46260
43660    46260
46261    46260
51214    46260
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
22137    13848
55626    13848
Name: Helka_rank, dtype: int64
1206     52470
3343     52470
3682     52470
5187     52470
7376     52470
         ...
57732    52470
59073    52470
59751    52470
59877    52470
61474    52470
Name: Helka_rank, Length: 76, dtype: int64
5448     57092
30919    57092
32405    57092
40572    57092
41220    57092
48335    57092
50748    57092
Name: Helka_rank, dtype: int64
18325    40610
39009    40610
41406    40610
47948    40610
49606    40610
Name: Helka_rank, dtype: int64
3113     32999
3383     32999
11604    32999
16218    32999
44039    32999
44407    32999
61278    32999
61514    32999
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
25052    42865
35989    42865
41487    42865
50666    42865
51333    42865
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
15726    58321
17701    58321
38087    58321
47546    58321
50070    58321
Name: Helka_rank, dtype: int64
442      37869
2698     37869
3330     37869
3861     37869
5399     37869
5529     37869
5898     37869
8856     37869
8912     37869
13546    37869
13805    37869
14198    37869
14803    37869
21097    37869
25130    37869
29582    37869
31458    37869
31508    37869
32380    37869
35630    37869
38951    37869
41084    37869
43276    37869
45110    37869
47462    37869
50360    37869
57604    37869
57941    37869
58011    37869
58068    37869
59100    37869
60953    37869
61453    37869
61913    37869
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
1803     27866
3081     27866
3637     27866
4451     27866
6043     27866
6764     27866
7621     27866
9774     27866
9968     27866
10648    27866
10692    27866
14157    27866
15356    27866
21872    27866
21995    27866
25026    27866
28759    27866
33571    27866
34057    27866
35789    27866
40385    27866
40414    27866
43214    27866
45309    27866
47799    27866
50431    27866
60202    27866
61251    27866
61759    27866
Name: Helka_rank, dtype: int64
1803     27866
3081     27866
3637     27866
4451     27866
6043     27866
6764     27866
7621     27866
9774     27866
9968     27866
10648    27866
10692    27866
14157    27866
15356    27866
21872    27866
21995    27866
25026    27866
28759    27866
33571    27866
34057    27866
35789    27866
40385    27866
40414    27866
43214    27866
45309    27866
47799    27866
50431    27866
60202    27866
61251    27866
61759    27866
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)

9284     43812
24775    43812
37492    43812
Name: Helka_rank, dtype: int64
2453     45706
6907     45706
23900    45706
27499    45706
41903    45706
47267    45706
48278    45706
60742    45706
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
5774     49017
16072    49017
27725    49017
33382    49017
44476    49017
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
625      57434
1231     57434
2323     57434
4048     57434
7827     57434
8368     57434
8944     57434
10752    57434
14201    57434
53693    57434
Name: Helka_rank, dtype: int64
5066     58091
11566    58091
16477    58091
19876    58091
25057    58091
28670    58091
30747    58091
32112    58091
34780    58091
36087    58091
36864    58091
44941    58091
48133    58091
Name: Helka_rank, dtype: int64
13458    66774
Name: Helka_rank, dtype: int64
2453     45706
6907     45706
23900    45706
27499    45706
41903    45706
47267    45706
48278    45706
60742    45706
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
5774     49017
16072    49017
27725    49017
33382    49017
44476    49017
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
625      57434
1231     57434
2323     57434
4048     57434
7827     57434
8368     57434
8944     57434
10752    57434
14201    57434
53693    57434
Name: Helka_rank, dtype: int64
5066     58091
11566    58091
16477    58091
19876    58091
25057    58091
28670    58091
30747    58091
32112    58091
34780    58091
36087    58091
36864    58091
44941    58091
48133    58091
Name: Helka_rank, dtype: int64
13458    66774
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
82       45349
2181     45349
2451     45349
3070     45349
4108     45349
         ...
54276    45349
54279    45349
54280    45349
54282    45349
54286    45349
Name: Helka_rank, Length: 522, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
26634    22880
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
24009    25358
27099    25358
35138    25358
45937    25358
Name: Helka_rank, dtype: int64
39350    56536
46433    56536
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
41424    49399
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
20900    71373
33963    71373
36779    71373
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
19102    60600
21191    60600
33829    60600
38363    60600
51308    60600
51825    60600
56534    60600
Name: Helka_rank, dtype: int64
238      50118
1809     50118
2563     50118
2621     50118
4289     50118
         ...
59110    50118
60241    50118
60824    50118
60889    50118
62196    50118
Name: Helka_rank, Length: 90, dtype: int64
42510    61979
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
21475    29868
23736    29868
45204    29868
48271    29868
48347    29868
Name: Helka_rank, dtype: int64
3105     28218
6672     28218
14749    28218
23238    28218
23837    28218
28672    28218
31987    28218
39545    28218
43665    28218
44859    28218
45619    28218
46786    28218
47070    28218
Name: Helka_rank, dtype: int64
41       54225
43       54225
44       54225
75       54225
108      54225
         ...
61718    54225
61841    54225
61852    54225
61919    54225
62117    54225
Name: Helka_rank, Length: 1118, dtype: int64
12584    32877
24345    32877
39580    32877
Name: Helka_rank, dtype: int64
13708    67080
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
15807    48153
17067    48153
20207    48153
23041    48153
31156    48153
36586    48153
42771    48153
54724    48153
54890    48153
55344    48153
55773    48153
56993    48153
Name: Helka_rank, dtype: int64
6502     24591
23877    24591
26326    24591
26426    24591
27913    24591
29638    24591
30213    24591
31407    24591
44575    24591
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
1603     38584
2111     38584
4729     38584
6146     38584
7189     38584
8759     38584
12646    38584
14323    38584
16923    38584
24728    38584
28466    38584
31675    38584
32944    38584
36079    38584
39394    38584
42962    38584
43021    38584
44775    38584
45146    38584
60058    38584
60478    38584
Name: Helka_rank, dtype: int64
9033     75018
15703    75018
21369    75018
26166    75018
Name: Helka_rank, dtype: int64
9458     62971
26040    62971
34274    62971
42061    62971
51053    62971
Name: Helka_rank, dtype: int64
1337     63306
2207     63306
2293     63306
2779     63306
3272     63306
3454     63306
3947     63306
4090     63306
4106     63306
4471     63306
18763    63306
20265    63306
52065    63306
56419    63306
57500    63306
58322    63306
58808    63306
61020    63306
61410    63306
61589    63306
61924    63306
62075    63306
Name: Helka_rank, dtype: int64
5456     35525
9281     35525
12339    35525
34839    35525
40489    35525
Name: Helka_rank, dtype: int64
29934    44981
Name: Helka_rank, dtype: int64
1444     45855
4189     45855
12975    45855
14367    45855
14508    45855
19027    45855
26937    45855
27860    45855
31577    45855
33707    45855
34082    45855
38942    45855
48249    45855
59927    45855
62130    45855
Name: Helka_rank, dtype: int64
1444     45855
4189     45855
12975    45855
14367    45855
14508    45855
19027    45855
26937    45855
27860    45855
31577    45855
33707    45855
34082    45855
38942    45855
48249    45855
59927    45855
62130    45855
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
16899    78474
21794    78474
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
652      28345
1903     28345
7831     28345
14498    28345
15613    28345
18271    28345
22740    28345
24892    28345
26281    28345
27474    28345
30648    28345
34116    28345
34658    28345
37534    28345
38927    28345
41159    28345
41532    28345
49258    28345
50185    28345
50919    28345
56551    28345
59253    28345
60306    28345
Name: Helka_rank, dtype: int64
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
11301    31074
11409    31074
12050    31074
12402    31074
12785    31074
14962    31074
15517    31074
15797    31074
15804    31074
23311    31074
30830    31074
37137    31074
52011    31074
54130    31074
54140    31074
54301    31074
54333    31074
54632    31074
54725    31074
Name: Helka_rank, dtype: int64
4353     47962
9349     47962
57092    47962
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
16899    78474
21794    78474
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
652      28345
1903     28345
7831     28345
14498    28345
15613    28345
18271    28345
22740    28345
24892    28345
26281    28345
27474    28345
30648    28345
34116    28345
34658    28345
37534    28345
38927    28345
41159    28345
41532    28345
49258    28345
50185    28345
50919    28345
56551    28345
59253    28345
60306    28345
Name: Helka_rank, dtype: int64
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
11301    31074
11409    31074
12050    31074
12402    31074
12785    31074
14962    31074
15517    31074
15797    31074
15804    31074
23311    31074
30830    31074
37137    31074
52011    31074
54130    31074
54140    31074
54301    31074
54333    31074
54632    31074
54725    31074
Name: Helka_rank, dtype: int64
4353     47962
9349     47962
57092    47962
Name: Helka_rank, dtype: int64
6988     50836
14269    50836
21393    50836
21948    50836
27588    50836
29292    50836
29606    50836
30269    50836
31047    50836
31362    50836
32331    50836
39790    50836
41385    50836
48625    50836
51004    50836
51523    50836
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)

Series([], Name: Helka_rank, dtype: int64)
10744    36624
Name: Helka_rank, dtype: int64
41313    29544
50080    29544
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
1132     48927
3458     48927
4611     48927
6092     48927
6205     48927
10263    48927
13358    48927
14356    48927
14540    48927
14575    48927
14759    48927
16191    48927
16447    48927
17293    48927
17358    48927
18028    48927
19065    48927
23938    48927
25321    48927
26104    48927
26337    48927
28570    48927
30599    48927
31502    48927
35646    48927
36284    48927
36483    48927
37757    48927
40646    48927
43430    48927
47446    48927
49175    48927
49265    48927
49389    48927
49605    48927
51842    48927
51940    48927
57721    48927
58025    48927
59647    48927
61587    48927
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
782      39030
1122     39030
1461     39030
1763     39030
4447     39030
6510     39030
9646     39030
13087    39030
13890    39030
14491    39030
14720    39030
16454    39030
16745    39030
17887    39030
18595    39030
19736    39030
19749    39030
20214    39030
20220    39030
20499    39030
20502    39030
20503    39030
20515    39030
20940    39030
28056    39030
37431    39030
50682    39030
55279    39030
55338    39030
55385    39030
55392    39030
57680    39030
59362    39030
59978    39030
60183    39030
Name: Helka_rank, dtype: int64
56920    62528
Name: Helka_rank, dtype: int64
3997     65173
28636    65173
36554    65173
49541    65173
62038    65173
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
3976     54171
3977     54171
3979     54171
10496    54171
14160    54171
42727    54171
62001    54171
62002    54171
62003    54171
Name: Helka_rank, dtype: int64
84       49102
2579     49102
10791    49102
18722    49102
19941    49102
25725    49102
34027    49102
36377    49102
38668    49102
46457    49102
56568    49102
58604    49102
60850    49102
Name: Helka_rank, dtype: int64
1143     65645
23850    65645
24564    65645
28091    65645
44191    65645
59687    65645
Name: Helka_rank, dtype: int64
48760    30907
57219    30907
58203    30907
Name: Helka_rank, dtype: int64
9214     57932
42984    57932
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
2248     43172
22036    43172
37701    43172
39732    43172
40271    43172
40615    43172
40733    43172
49868    43172
51409    43172
60581    43172
Name: Helka_rank, dtype: int64
4094     63633
9940     63633
11004    63633
12727    63633
14439    63633
14659    63633
14716    63633
15107    63633
15213    63633
15342    63633
16079    63633
17272    63633
17278    63633
17281    63633
17289    63633
17388    63633
17548    63633
17566    63633
17716    63633
17720    63633
17724    63633
17726    63633
18176    63633
18185    63633
18199    63633
18208    63633
18335    63633
18344    63633
53870    63633
54908    63633
54909    63633
54938    63633
54958    63633
54959    63633
55036    63633
55043    63633
62050    63633
Name: Helka_rank, dtype: int64
7929     54576
29693    54576
29850    54576
45949    54576
50801    54576
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
8778     54207
45962    54207
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
339      50049
3421     50049
5017     50049
9526     50049
10385    50049
13019    50049
13954    50049
22938    50049
23154    50049
33809    50049
34419    50049
34648    50049
37561    50049
38719    50049
39597    50049
52446    50049
53072    50049
53841    50049
54353    50049
55797    50049
58960    50049
61530    50049
Name: Helka_rank, dtype: int64
33262    30651
Name: Helka_rank, dtype: int64
12656    48311
50913    48311
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
4947     56967
5453     56967
6553     56967
12210    56967
13033    56967
13328    56967
15771    56967
23644    56967
24090    56967
26911    56967
31184    56967
32622    56967
32810    56967
37128    56967
40782    56967
42450    56967
46503    56967
47032    56967
47043    56967
49910    56967
49985    56967
50645    56967
Name: Helka_rank, dtype: int64
32995    63074
48774    63074
50557    63074
51205    63074
54496    63074
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
20234    58183
26078    58183
36389    58183
37278    58183
38014    58183
51610    58183
Name: Helka_rank, dtype: int64
7929     54576
29693    54576
29850    54576
45949    54576
50801    54576
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
8778     54207
45962    54207
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
339      50049
3421     50049
5017     50049
9526     50049
10385    50049
13019    50049
13954    50049
22938    50049
23154    50049
33809    50049
34419    50049
34648    50049
37561    50049
38719    50049
39597    50049
52446    50049
53072    50049
53841    50049
54353    50049
55797    50049
58960    50049
61530    50049
Name: Helka_rank, dtype: int64
33262    30651
Name: Helka_rank, dtype: int64
12656    48311
50913    48311
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
4947     56967
5453     56967
6553     56967
12210    56967
13033    56967
13328    56967
15771    56967
23644    56967
24090    56967
26911    56967
31184    56967
32622    56967
32810    56967
37128    56967
40782    56967
42450    56967
46503    56967
47032    56967
47043    56967
49910    56967
49985    56967
50645    56967
Name: Helka_rank, dtype: int64
32995    63074
48774    63074
50557    63074
51205    63074
54496    63074
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
20234    58183
26078    58183
36389    58183
37278    58183
38014    58183
51610    58183
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
817      62292
1040     62292
1090     62292
2164     62292
2877     62292
3001     62292
6128     62292
7990     62292
8832     62292
9450     62292
10567    62292
11869    62292
12284    62292
12410    62292
12967    62292
14917    62292
15254    62292
16216    62292
18897    62292
25037    62292
57713    62292
59430    62292
59594    62292
59696    62292
60553    62292
61218    62292
Name: Helka_rank, dtype: int64
3760     27761
4402     27761
5444     27761
6400     27761
7791     27761
8103     27761
8461     27761
8529     27761
11468    27761
61820    27761
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
2804     75923
5716     75923
61053    75923
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
13830    55106
24706    55106
40796    55106
42849    55106
48304    55106
48789    55106
49453    55106
49808    55106
Name: Helka_rank, dtype: int64
1727     29157
7264     29157
13801    29157
15215    29157
15832    29157
19534    29157
60159    29157
Name: Helka_rank, dtype: int64
4453     72645
5118     72645
22839    72645
46247    72645
51295    72645
51442    72645
55733    72645
Name: Helka_rank, dtype: int64
29040    56185
34891    56185
36130    56185
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
11915    38799
17679    38799
23619    38799
Name: Helka_rank, dtype: int64
4670     58482
5751     58482
9927     58482
11056    58482
19443    58482
21269    58482
24125    58482
26565    58482
46694    58482
48033    58482
48198    58482
50596    58482
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
19655    54986
22965    54986
Name: Helka_rank, dtype: int64
2859     26526
3334     26526
9139     26526
13520    26526
14377    26526
16228    26526
18052    26526
22885    26526
27988    26526
29901    26526
29977    26526
30055    26526
30307    26526
30847    26526
32764    26526
39132    26526
39135    26526
41660    26526
41719    26526
43799    26526
44218    26526
44225    26526
44480    26526
46049    26526
51414    26526
51772    26526
51918    26526
51919    26526
52492    26526
56870    26526
58015    26526
59053    26526
61058    26526
61468    26526
Name: Helka_rank, dtype: int64
3372     54702
31847    54702
33847    54702
Name: Helka_rank, dtype: int64

1222     53334
1979     53334
4809     53334
11059    53334
13151    53334
20306    53334
59709    53334
Name: Helka_rank, dtype: int64
1153     56414
1715     56414
57731    56414
59780    56414
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
5456     35525
9281     35525
12339    35525
34839    35525
40489    35525
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
28520    55415
34636    55415
38385    55415
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
31307    107177
Name: Helka_rank, dtype: int64
873      56901
12576    56901
20313    56901
25342    56901
40727    56901
45477    56901
46322    56901
59499    56901
Name: Helka_rank, dtype: int64
5259     85984
13165    85984
15037    85984
19524    85984
20356    85984
29357    85984
29782    85984
30360    85984
Name: Helka_rank, dtype: int64
1027     22226
1053     22226
1116     22226
1291     22226
1503     22226
         ...
60164    22226
61122    22226
61526    22226
61947    22226
62154    22226
Name: Helka_rank, Length: 162, dtype: int64
32836    71214
Name: Helka_rank, dtype: int64
6459     43533
7435     43533
18862    43533
Name: Helka_rank, dtype: int64
10913    68420
22294    68420
37780    68420
49019    68420
49659    68420
Name: Helka_rank, dtype: int64
4619     43160
10351    43160
10379    43160
12621    43160
15439    43160
15732    43160
16587    43160
18717    43160
21162    43160
22449    43160
23522    43160
23705    43160
23839    43160
25261    43160
25350    43160
26348    43160
26546    43160
30075    43160
30271    43160
30876    43160
31121    43160
32898    43160
33464    43160
35073    43160
35074    43160
35332    43160
35334    43160
35516    43160
52098    43160
52396    43160
53965    43160
53967    43160
54321    43160
54682    43160
54712    43160
54820    43160
55120    43160
55475    43160
55872    43160
55922    43160
56604    43160
58371    43160
58863    43160
Name: Helka_rank, dtype: int64
10913    68420
22294    68420
37780    68420
49019    68420
49659    68420
Name: Helka_rank, dtype: int64
4619     43160
10351    43160
10379    43160
12621    43160
15439    43160
15732    43160
16587    43160
18717    43160
21162    43160
22449    43160
23522    43160
23705    43160
23839    43160
25261    43160
25350    43160
26348    43160
26546    43160
30075    43160
30271    43160
30876    43160
31121    43160
32898    43160
33464    43160
35073    43160
35074    43160
35332    43160
35334    43160
35516    43160
52098    43160
52396    43160
53965    43160
53967    43160
54321    43160
54682    43160
54712    43160
54820    43160
55120    43160
55475    43160
55872    43160
55922    43160
56604    43160
58371    43160
58863    43160
Name: Helka_rank, dtype: int64
6973     55522
29760    55522
39808    55522
43949    55522
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
22483    47331
47112    47331
Name: Helka_rank, dtype: int64
21259    51533
22261    51533
24854    51533
26121    51533
28384    51533
28407    51533
29834    51533
31136    51533
45751    51533
53493    51533
55493    51533
56052    51533
56908    51533
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
15531    45366
24241    45366
29785    45366
Name: Helka_rank, dtype: int64
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
Series([], Name: Helka_rank, dtype: int64)
8793     33574
10298    33574
12176    33574
12849    33574
16389    33574
16595    33574
17330    33574
17428    33574
17937    33574
18315    33574
18655    33574
18962    33574
19225    33574
19318    33574
20490    33574
21083    33574
21154    33574
21238    33574
21509    33574
21555    33574
21587    33574
21612    33574
21620    33574
21629    33574
21643    33574
21658    33574
21716    33574
21720    33574
21734    33574
21735    33574
21750    33574
21754    33574
21758    33574
21780    33574
21798    33574
21802    33574
21804    33574
21855    33574
21861    33574
40361    33574
53959    33574
54489    33574
54816    33574
55132    33574
55189    33574
55482    33574
55549    33574
55562    33574
55570    33574
55575    33574
55577    33574
55581    33574
55584    33574
55585    33574
Name: Helka_rank, dtype: int64
12400    20708
17538    20708
39693    20708
44219    20708
Name: Helka_rank, dtype: int64
649      40741
749      40741
1569     40741
2032     40741
3516     40741
         ...
59449    40741
60033    40741
60427    40741
60992    40741
61615    40741
Name: Helka_rank, Length: 449, dtype: int64
4837    57305
Name: Helka_rank, dtype: int64
29621    61410
40609    61410
Name: Helka_rank, dtype: int64
82       45349
2181     45349
2451     45349
3070     45349
4108     45349
         ...
54276    45349
54279    45349
54280    45349
54282    45349
54286    45349
Name: Helka_rank, Length: 522, dtype: int64
4502     51948
8021     51948
9778     51948
11953    51948
13084    51948
14911    51948
57371    51948
58474    51948
Name: Helka_rank, dtype: int64
33

,Street,Home_number,Item_id,Lat,Long,City,Rooms,Neighborhood,Floor,Baths,...,Gush,Helka,Tat,Floors,Year,Neighborhood_rank,Street_rank,Gush_rank,Gush_Helka,Helka_rank
0,עין הקורא,18,dDWKk7Qtpnf,32.057245,34.782693,תל אביב יפו,2.0,נווה שאנן,5.0,NaN,...,6944,82,NaN,5.0,2023,51672,48305,48305,694482,43160
1,נחום,38,btbIetNpaGY,32.089581,34.777868,תל אביב יפו,3.5,הצפון הישן החלק הצפוני,1.0,NaN,...,6132,289,NaN,3.0,2023,60675,54831,51200,6132289,49222
2,בזל,14,bgWP3MofHTr,32.090116,34.777054,תל אביב יפו,3.0,הצפון הישן החלק הצפוני,7.0,NaN,...,6956,118,NaN,7.0,2023,60675,54831,51200,6956118,50239
3,רמה,3,bxhbc66ZpTP,32.119466,34.841451,תל אביב יפו,4.0,נווה שרת,6.0,NaN,...,7065,142,72.0,24.0,2023,38921,42523,41314,7065142,29544
4,בני אפרים,209,doXEXSjV8U8,32.111256,34.816224,תל אביב יפו,4.0,מעוז אביב א,1.0,NaN,...,6636,654,4.0,5.0,2023,51484,30208,41947,6636654,49222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,מיטב,5,jr57aT9WtiR,32.065739,34.794772,תל אביב יפו,3.5,ביצרון,1.0,NaN,...,7096,64,NaN,27.0,2023,42463,42658,42385,709664,40741
309,"רש""י",6,dSgqu5sF5xt,32.072170,34.771831,תל אביב יפו,4.0,לב תל אביב החלק המערבי,1.0,NaN,...,7226,69,1.0,10.0,2023,51484,63592,64782,722669,57305
310,חובבי ציון,38,c7gp7MIUGIH,32.077456,34.771069,תל אביב יפו,2.0,הצפון הישן החלק הדרום מערבי,0.0,NaN,...,7091,148,8.0,4.0,2023,51484,78906,72222,7091148,61410
311,וינגייט,1,3GvEl1261Zk,32.060150,34.787733,תל אביב יפו,2.0,יד אליהו,31.0,NaN,...,7108,51,NaN,31.0,2023,40312,54831,48574,710851,45349
312,הירקון,6,FQfLoo4wf4g,32.068453,34.764341,תל אביב יפו,3.0,כרם התימנים,4.0,NaN,...,7229,109,6.0,6.0,2023,52713,54249,44666,7229109,51948

In [68]:
df.to_csv('Data/madlan_data_clean.csv', index=False)
print(df.shape)