In [2]:
import mysql.connector
import csv
import pandas as pd
from tqdm import tqdm

In [170]:
df = pd.read_csv("Data/Nadlan_clean.csv")
df['New'].fillna(0, inplace=True)
df['New'] = df['New'].astype(np.int32) 
list_cols = list(df.columns)

# try:
#     df = df.drop(['Unnamed: 0'], axis=1)
# except:
#     pass

for col in list_cols:
    check_na = df[df[col].isna()]
    print(f"Data type of column '{col}': {df[col].dtype}")

    if check_na.shape[0] > 0:
        print(f"col:{col} number of nan values :{check_na.shape[0]}")

# df.dropna(subset = ['Floors'] , inplace= True)

Data type of column 'Unnamed: 0': int64
Data type of column 'Date': object
Data type of column 'Type': object
Data type of column 'Rooms': int64
Data type of column 'Floor': int64
Data type of column 'Size': int64
Data type of column 'Price': int64
Data type of column 'New': int32
Data type of column 'Build_year': int64
Data type of column 'Rebuilt': int64
Data type of column 'Floors': int64
Data type of column 'Gush': int64
Data type of column 'Helka': int64
Data type of column 'Tat': int64
Data type of column 'Home_number': int64
Data type of column 'Street': object
Data type of column 'Year': int64
Data type of column 'Long': float64
Data type of column 'Lat': float64
Data type of column 'UniqueId': object
Data type of column 'Distance_sea': int64
Data type of column 'Train': int64
Data type of column 'Neighborhood': object
Data type of column 'Street_rank': int64
Data type of column 'Neighborhood_rank': int64
Data type of column 'Gush_rank': int64
Data type of column 'Helka_rank': int64

In [173]:
def create_table(df):
    # Connect to the database
    mydb = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='QIU9543blk12sbM',
        database='nextroofweb_db',
    )

    # Create a cursor
    mycursor = mydb.cursor()

    # Create a new table 'your_table_name' in the database (change the column names and data types as needed)
    create_table_query = """
    CREATE TABLE test12 (
        `Unnamed: 0` INT PRIMARY KEY,
        Date DATE,
        Type VARCHAR(50),
        Rooms INT,
        Floor INT,
        Size INT,
        Price INT,
        New INT,
        Build_year INT,
        Rebuilt INT,
        Floors INT,
        Gush INT,
        Helka INT,
        Tat INT,
        Home_number INT,
        Street VARCHAR(100),
        Year INT,
        `Long` FLOAT,
        Lat FLOAT,
        UniqueId VARCHAR(100),
        Distance_sea INT,
        Train INT,
        Neighborhood VARCHAR(100),
        Street_rank INT,
        Neighborhood_rank INT,
        Gush_rank INT,
        Helka_rank INT
    )
    """
    mycursor.execute(create_table_query)

    # Insert the data from the DataFrame 'df' into the table 'your_table_name'
    df.to_sql(name='test12', con=mydb, if_exists='append', index=False)

    # Commit the changes and close the connection
    mydb.commit()
    mycursor.close()
    mydb.close()
    
df = pd.read_csv('Data/Nadlan_clean.csv')
create_table(df)

C:\Users\yoavl\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

27

In [67]:
def replace_data_from_csv():
    # Connect to the database
    mydb = mysql.connector.connect(
        host='127.0.0.1',
        user="root",
        password="QIU9543blk12sbM",
        database="nextroofweb_db",
    )
    
    # Create a cursor
    mycursor = mydb.cursor()
    
    # Clear the existing data in the table
    delete_query = "DELETE FROM trans"
    mycursor.execute(delete_query)
    
    # Read the CSV file
    with open('Data/Predicted_DB.csv', 'r') as file:
        csv_data = csv.reader(file)
        next(csv_data)  # Skip the header row
        
        # Prepare the INSERT query
        insert_query = "INSERT INTO trans (Item_id, Price, Street, Neighborhood, Parking, Balconies, Size, Floors, Asset_classification, Ac, Furniture, Handicapped, Immediate, Floors_text, Street_id, Rooms, Floor, Shelter, On_pillars, Elevator, Storeroom, Lat, Long, City, City_code, Date_added, Date_of_entry, Neighborhood_id, Garden_size, Home_number, Agency, Images, Text, Asset_type, Broker, Accuracy, Date, Last_update, Valid, Build_year, Year, Distance_sea, Train, Age, Neighborhood_rank, Street_rank, Gush_rank, Helka_rank, Predicted, Difference) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        
        # Process each row in the CSV and insert it into the table
        for row in csv_data:
            mycursor.execute(insert_query, row)
    
    # Commit the changes and close the cursor and database connection
    mydb.commit()
    mycursor.close()
    mydb.close()

replace_data_from_csv()

status = {
    'date':0,
    'get_naldan':False,
    'clean_naldan':False,
    'get_yad2':False,
    'clean_yad2':False,
    'algo_r2': 0,
    'algo_mae':0,
    'update_db:':False,
}

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction