In [1]:
from numpy import mean ,std
import numpy as np
from sklearn.model_selection import cross_val_score , cross_validate ,RepeatedKFold ,GridSearchCV ,train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler 
from sklearn.pipeline import Pipeline
from sklearn.ensemble import StackingRegressor ,RandomForestRegressor , GradientBoostingRegressor
from sklearn.metrics import r2_score ,mean_absolute_error
from sklearn.neural_network import MLPRegressor
from matplotlib import pyplot
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import pandas as pd
import csv
import matplotlib.pyplot as plt
import joblib
import lightgbm as lgb
from ipynb.fs.full.set_up import data_prep

In [2]:
def recommend_affordable_apartments(df, model ,item_id):
    y = df['Price']
    X = df.drop('Price', axis=1)

    scaler = joblib.load('scaler.pkl')
    X_scaled = scaler.transform(X)
    
    y_pred = model.predict(X_scaled)
    y_pred = y_pred *1.00
    df["Predicted"] = y_pred
    df["Predicted"] = df["Predicted"].astype(int)
    df['Difference'] =  df["Price"] -  df["Predicted"] 
    mae = mean_absolute_error(y, y_pred)
    r2 = r2_score(y, y_pred)
    print(f'r2_score: {r2} , mae: {mae}')
    df['Item_id'] = item_id
    df["Predicted"] = df["Predicted"].astype(np.int32)
    df["Difference"] = df["Difference"].astype(np.int32)

    return df.sort_values(by="Difference")

madlan_df , item_id = data_prep(madlan = True , accuracy = 0 ,min_price = 1200000 ,max_price =6000000) 

models= joblib.load('saved_models.pkl')
model = models['stacking']
model

madlan_resulst = recommend_affordable_apartments(madlan_df,model, item_id)
madlan_resulst

Prep
(240, 28)
r2_score: 0.5809287845999949 , mae: 526159.816404061

,Rooms,Floor,Size,Price,Build_year,Floors,Year,Age,Neighborhood_rank,Street_rank,Gush_rank,Helka_rank,New,Predicted,Difference,Item_id
233,3,2,95,2700000,1940.0,9,2023,83.0,52145,47806,49493,49690,0,4294295,-1594295,LuqLaO0n3fM
201,5,3,117,5150000,2000.0,4,2023,23.0,60561,64456,64456,64465,0,6500907,-1350907,cWmPOE2Llez
271,4,9,98,4800000,1978.0,12,2023,45.0,63126,75080,49493,97334,0,6124534,-1324534,dTheLQSHOev
232,3,1,88,4590000,1962.0,3,2023,61.0,62576,65464,59237,70013,0,5396826,-806826,hBWvxMRFJlQ
217,4,2,90,5290000,1997.0,3,2023,26.0,52145,58452,73170,79692,0,5996789,-706789,J8wkI0asF1n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,3,4,75,5750000,1970.0,2,2023,53.0,52145,65656,72916,51766,1,4239882,1510118,jVGYlb8ZkFM
125,3,2,73,5450000,2023.0,5,2023,0.0,57312,76437,63496,43396,1,3825248,1624752,dJUbChucJ73
81,3,1,73,5390000,2022.0,3,2023,1.0,62394,42671,58344,54386,1,3688994,1701006,jqiwZHt6oAF
98,2,1,53,4900000,1960.0,2,2023,63.0,58756,57431,38950,61455,0,2989150,1910850,dWKc55jsCUf
112,4,2,90,4590000,1970.0,4,2023,53.0,43669,5317,33984,49605,0,2361156,2228844,tPZvnTpwDhS

In [3]:
madlan_resulst

,Rooms,Floor,Size,Price,Build_year,Floors,Year,Age,Neighborhood_rank,Street_rank,Gush_rank,Helka_rank,New,Predicted,Difference,Item_id
233,3,2,95,2700000,1940.0,9,2023,83.0,52145,47806,49493,49690,0,4294295,-1594295,LuqLaO0n3fM
201,5,3,117,5150000,2000.0,4,2023,23.0,60561,64456,64456,64465,0,6500907,-1350907,cWmPOE2Llez
271,4,9,98,4800000,1978.0,12,2023,45.0,63126,75080,49493,97334,0,6124534,-1324534,dTheLQSHOev
232,3,1,88,4590000,1962.0,3,2023,61.0,62576,65464,59237,70013,0,5396826,-806826,hBWvxMRFJlQ
217,4,2,90,5290000,1997.0,3,2023,26.0,52145,58452,73170,79692,0,5996789,-706789,J8wkI0asF1n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,3,4,75,5750000,1970.0,2,2023,53.0,52145,65656,72916,51766,1,4239882,1510118,jVGYlb8ZkFM
125,3,2,73,5450000,2023.0,5,2023,0.0,57312,76437,63496,43396,1,3825248,1624752,dJUbChucJ73
81,3,1,73,5390000,2022.0,3,2023,1.0,62394,42671,58344,54386,1,3688994,1701006,jqiwZHt6oAF
98,2,1,53,4900000,1960.0,2,2023,63.0,58756,57431,38950,61455,0,2989150,1910850,dWKc55jsCUf
112,4,2,90,4590000,1970.0,4,2023,53.0,43669,5317,33984,49605,0,2361156,2228844,tPZvnTpwDhS

In [4]:
df = pd.read_csv("../Data/Yad2_clean.csv")
df

,Price,Street,Neighborhood,Size,Floors,New,Street_id,Rooms,Floor,Lat,...,Gush,Helka,Tat,Build_year,Year,Neighborhood_rank,Street_rank,Gush_rank,Gush_Helka,Helka_rank
0,3300000,יוחנן הורקנוס,הצפון הישן החלק הצפוני,44.0,3,0,420.0,1.0,1.0,32.093761,...,6958,110,NaN,1970,2023,58358,53846,49180,6958110,57375
1,38000000,רציף הרברט סמואל,הצפון הישן החלק הדרומי,180.0,10,1,1143.0,4.0,5.0,32.071688,...,6916,120,31.0,1980,2023,56028,30544,54137,6916120,117964
2,2670000,שקד,תל כביר/נווה עופר/יפו ב,65.0,4,0,3010.0,3.0,1.0,32.041388,...,6993,121,78.0,1970,2023,28802,29703,27522,6993121,32584
3,3200000,שיבת ציון,נווה שאנן,80.0,3,0,2324.0,3.0,1.0,32.055019,...,6975,68,8.0,1950,2023,50004,54512,29691,697568,14473
4,6650000,אורי צבי גרינברג,אזורי חן,129.0,11,0,3103.0,5.0,2.0,32.129996,...,6620,19,78.0,1999,2023,49890,26537,46875,662019,40859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,4000000,קהילת לבוב,הדר יוסף,100.0,1,0,244.0,2.0,1.0,32.109644,...,6636,295,NaN,1960,2023,43478,37215,43619,6636295,47135
1008,7000000,בילטמור,הצפון החדש סביבת כיכר המדינה,110.0,3,0,911.0,4.0,1.0,32.087964,...,6213,875,3.0,1960,2023,63126,71394,63496,6213875,66365
1009,6500000,הר נבו,הצפון הישן החלק הצפוני,400.0,0,0,420.0,11.0,0.0,31.781326,...,6214,505,NaN,1950,2023,58358,31291,65909,6214505,53613
1010,3650000,בן יהודה,הצפון הישן החלק הצפוני,55.0,3,0,510.0,2.0,2.0,0.000000,...,6906,152,16.0,2005,2023,58358,56544,70588,6906152,66959
1011,1750000,קהילת קנדה,יפו ד (גבעת התמרים,49.0,4,0,2199.0,2.0,1.0,32.031265,...,7050,177,8.0,1960,2023,34361,39195,36309,7050177,30041