In [2]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup  
import csv
import numpy as np
from datetime import datetime
from datetime import timedelta
import math
import re

In [3]:
df1 = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_1.csv",index_col=0)
df2 = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_2.csv",index_col=0)
df = pd.merge(df1, df2, how='outer')
# df = pd.read_csv("Data/Test.csv")

df.drop_duplicates(inplace=True, ignore_index=False)
df

,DEALDATESTRING,DEALDATE,ADDRESS,NEIGHBORHOOD,NEIGHBORHOODID,STREENNAME,GUSHHELKATAT,ASSETTYPE,ROOMNUM,FLOOR,ASSETMETER,DEALS_DEALAMOUNT,DEALTYPE,PROJECTNAME,STREETCODE,WKT,POLYGONID,CITY,CITYID,OBJECTID
0,09/08/2022,2022-08-09T00:00:00,רדינג 50,רמת אביב,65210019.0,רדינג,6770-15-18,דירה בבית קומות,2.0,שניה,50.0,3200000.0,NaN,NaN,50000101.0,"POLYGON (( 181008.41000000 668543.12000000, 1...",52374371,תל אביב -יפו,5000.0,117707.0
1,24/07/2022,2022-07-24T00:00:00,רדינג 16,רמת אביב,65210019.0,רדינג,6770-7-61,דירה בבית קומות,4.0,שניה,75.0,2000000.0,NaN,NaN,50000101.0,"POLYGON (( 180779.09000000 668080.62000000, 1...",53296773,תל אביב -יפו,5000.0,100319.0
2,07/07/2022,2022-07-07T00:00:00,רדינג 46,רמת אביב,65210019.0,רדינג,6770-15-4,דירה בבית קומות,3.0,ראשונה,72.0,4080000.0,NaN,NaN,50000101.0,"POLYGON (( 180971.59000000 668537.19000000, 1...",53134373,תל אביב -יפו,5000.0,179313.0
3,22/06/2022,2022-06-22T00:00:00,רדינג 10,רמת אביב,65210019.0,רדינג,6772-55-10,דירה בבית קומות,2.0,ראשונה,52.0,4250000.0,NaN,NaN,50000101.0,"POLYGON (( 180787.32920000 667974.52790000, 1...",52288306,תל אביב -יפו,5000.0,101614.0
4,31/03/2022,2022-03-31T00:00:00,רדינג 50,רמת אביב,65210019.0,רדינג,6770-15-19,דירה בבית קומות,2.0,שניה,93.0,3580000.0,NaN,NaN,50000101.0,"POLYGON (( 181008.41000000 668543.12000000, 1...",52374371,תל אביב -יפו,5000.0,117707.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151020,06/07/2004,2004-07-06T00:00:00,רח 2280 1,המשתלה,65210025.0,רח 2280,6615-328-2,דירת גן,5.0,מרתף+קרקע+ראשונה,130.0,2397000.0,NaN,NaN,50004789.0,"POLYGON (( 183984.99880000 670366.49440000, 1...",65244186,תל אביב -יפו,5000.0,100094.0
151021,26/05/2003,2003-05-26T00:00:00,רח 2280 2,המשתלה,65210025.0,רח 2280,6615-328-13,NaN,6.0,מרתף+קרקע+ראשונה,185.0,1452000.0,NaN,NaN,50004789.0,"POLYGON (( 183961.27310000 670367.69380000, 1...",52307883,תל אביב -יפו,5000.0,102090.0
151022,14/05/2003,2003-05-14T00:00:00,רח 2280 1,המשתלה,65210025.0,רח 2280,6615-328-5,NaN,6.0,מרתף+קרקע+ראשונה,184.0,1688000.0,NaN,NaN,50004789.0,"POLYGON (( 183984.99880000 670366.49440000, 1...",65244186,תל אביב -יפו,5000.0,100094.0
151023,26/06/2002,2002-06-26T00:00:00,רח 2280 3,המשתלה,65210025.0,רח 2280,6615-328-21,NaN,NaN,מרתף+קרקע+ראשונה,185.0,1119000.0,NaN,NaN,50004789.0,"POLYGON (( 183971.46830000 670363.86170000, 1...",65260285,תל אביב -יפו,5000.0,210554.0
151024,24/04/2002,2002-04-24T00:00:00,רח 2280 2,המשתלה,65210025.0,רח 2280,6615-328-11,NaN,NaN,מרתף+קרקע+ראשונה,185.0,965000.0,NaN,NaN,50004789.0,"POLYGON (( 183961.27310000 670367.69380000, 1...",52307883,תל אביב -יפו,5000.0,102090.0

In [38]:
def polygon_point(df):
    '''
    Futre use 
    Optional to calclute polygon size in meters for futre features uses. 
    from shapely.geometry import Polygon
    poly = Polygon(points)
    points = list(poly.exterior.coords)
    '''
    for i in range(df.shape[0]):
        corr = df['WKT'][i]
        points_str = corr.split("((")[1].split("))")[0]
        points_list = [tuple(map(float, point_str.split())) for point_str in points_str.split(",")]
        points = [(point[0], point[1]) for point in points_list]

        Lat = points[0][1]
        Long = points[0][0]
        df.loc[i, 'Lat'] = Lat
        df.loc[i, 'Long'] = Long
            
    df.drop('WKT', axis=1, inplace=True)
    return df


def split_gush_helka_tat(df):
    df[['Gush', 'Helka','Tat']] = df['GUSHHELKATAT'].str.split('-|/', n=2, expand=True).astype(int)  
    df = df.drop(columns='GUSHHELKATAT', axis=1)
    return df

def split_street_homenumber(df):
    df['Home_Number'] = df['ADDRESS'].str.extract('([0-9]+)', expand=False).astype(int)
    df.drop('ADDRESS', axis=1, inplace=True)
    return df

def convert_date_type(df):
    df.rename(columns = {'DEALDATESTRING':'Date'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
    return df



def Rename_cols_update_data_types(df):
    df = df.dropna(subset=['ASSETTYPE','DEALS_DEALAMOUNT']).reset_index(drop=True)
    df[['NEIGHBORHOOD','NEIGHBORHOODID','ASSETMETER']] =  df[['NEIGHBORHOOD','NEIGHBORHOODID','ASSETMETER']].fillna(0)
    
    
    types = ["nan","מיני פנטהאוז","מגורים","בית בודד","דופלקס","קוטג' חד משפחתי","קוטג' דו משפחתי",'מלונאות','חנות','קרקע למגורים','קבוצת רכישה - קרקע מגורים','None','אופציה','קבוצת רכישה - קרקע מסחרי','חניה','מסחרי + מגורים','דירת נופש','דיור מוגן','קומבינציה','מבנים חקלאיים','תעשיה','מסחרי + משרדים','בניני ציבור','חלוקה/יחוד דירות','מחסנים','אחר','בית אבות','עסק',"קוטג' טורי",'ניוד זכויות בניה','משרד','ללא תיכנון','מלונאות ונופש','משרדים + מגורים','מלאכה',]
    df = df.drop(df[df['ASSETTYPE'].isin(types)].index).reset_index(drop=True)
    
    df = split_gush_helka_tat(df)
    df = split_street_homenumber(df)
#     df = polygon_point(df)
    df = convert_date_type(df)
    
    df.rename(columns = {'DEALS_DEALAMOUNT':'Price'}, inplace = True)
    df['Price'] = df['Price'].astype(int)
    
#     df.rename(columns = {'POLYGONID':'Polygon_id'}, inplace = True)
#     df['Polygon_id'] = df['Polygon_id'].astype(int)
    
    df.rename(columns = {'OBJECTID':'Object_id'}, inplace = True)
    df['Object_id'] = df['Object_id'].astype(int)

    df.rename(columns = {'ROOMNUM':'Rooms'}, inplace = True)
    df['Object_id'] = df['Object_id'].astype(float)
    
    df.rename(columns = {'NEIGHBORHOODID':'Neighborhood_id'}, inplace = True)
    df['Neighborhood_id'] = df['Neighborhood_id'].astype(int)
    
    df.rename(columns = {'STREETCODE':'Street_id'}, inplace = True)
    df['Street_id'] = df['Street_id'].astype(int)

    
    df.rename(columns = {'ASSETMETER':'Size'}, inplace = True)
    df['Size'] = df['Size'].astype(int)
    
    df.rename(columns = {'NEIGHBORHOOD':'Neighborhood'}, inplace = True)
    df.rename(columns = {'STREENNAME':'Street'}, inplace = True)
    df.rename(columns = {'ASSETTYPE':'Type'}, inplace = True)

    cols= ["DEALDATE","DEALTYPE","PROJECTNAME","CITY","CITYID"]
    # #"extent"

    df = df.drop(columns=cols, axis=1)
    return df


df = Rename_cols_update_data_types(df)

In [39]:
def date_clean_by_params(df):
    SQUAREM_MIN = 30
    SQUAREM_MAX = 350
    PRICE_MIN = 600000
    PRICE_MAX = 20000000
    DATE_START = '01/01/2003'
    DATE_END = '01/01/2024'
    
    df = df[(df["Size"].between(SQUAREM_MIN, SQUAREM_MAX)) & 
            (df["Price"].between(PRICE_MIN, PRICE_MAX)) & 
            (df["Date"].between(DATE_START, DATE_END))]
    
    return df.drop_duplicates().reset_index(drop=True)

def calc_distance_from_the_see_TLV(X_coordinate, Y_coordinate):
    north_x = 180471
    north_y = 672391
    south_x = 177333
    south_y = 663016
    
    m = (south_y - north_y) / (south_x - north_x)   
    b = north_y - (m * north_x)
    
    numerator = abs(m * X_coordinate - Y_coordinate + b)
    denominator = math.sqrt(m**2 + 1)
    return numerator / denominator

def extract_long_lat_centroid(df):
    pattern = re.compile(r"y': (.*?), 'x': (.*?), 'geometryT")
    matches = df['centroid'].str.extract(pattern)
    df = df.drop('centroid', axis=1)
    df['Long'] = matches[1]
    df['Lat'] = matches[0]
    return df

def distance_from_sea_TLV(df):
    df = df.dropna(subset=['Lat', 'Long']).reset_index(drop=True)
    latitudes = df['Lat'].astype(float)
    longitudes = df['Long'].astype(float)
    distances = [calc_distance_from_the_see_TLV(lat, lon) for lat, lon in zip(latitudes, longitudes)]
    df['Distance_sea'] = distances
    df['Distance_sea'] = df['Distance_sea'].astype(int)
    return df

def add_price_per_meter(df):
    '''
    No need
    '''
    price_per_meter= ((df['Price'] / df['Size']).values)
    price_per_meter = [int(i) for i in price_per_meter]
    df.insert(6,'PRICE_PER_METER',price_per_meter, allow_duplicates=True)
    return df

# df = date_clean_by_params(df)
# df = extract_long_lat_centroid(df)
# df = distance_from_sea_TLV(df) 
# df = add_price_per_meter(df)

In [40]:
floors = {-1:'מרתף', 
     0:'קרקע', 
     1:'ראשונה', 
     2:'שניה', 
     3:'שלישית', 
     4:'רביעית', 
     5:'חמישית', 
     6:'שישית', 
     7:'שביעית', 
     8:'שמינית', 
     9:'תשיעית', 
     10:'עשירית', 
     11:'אחת עשרה', 
     12:'שתים עשרה', 
     13:'שלוש עשרה', 
     14:'ארבע עשרה', 
     15:'חמש עשרה', 
     16:'שש עשרה', 
     17:'שבע עשרה',  
     18:'שמונה עשרה', 
     19:'תשע עשרה', 
     20:'עשרים', 
     21:'עשרים ואחת', 
     22:'עשרים ושתיים', 
     23:'עשרים ושלוש', 
     24:'עשרים וארבע', 
     25:'עשרים וחמש', 
     26:'עשרים ושש', 
     27:'עשרים ושבע', 
     28:'עשרים ושמונה', 
     29:'עשרים ותשע',
     30:'שלושיים',
     31:'שלושיים ואחת',
     32:'שלושיים ושתיים',
     33:'שלושים ושלוש',
     34:'שלושים וארבע',
     35:'שלושים וחמש',
     36:'שלושים ושש',
     37:'שלושים ושבע',
     38:'שלושים ושמונה',
     39:'שלושים ותשע',
     40:'ארבעים',
    }

In [41]:
def floor_to_numeric(df, floors):
    floor_dict = {value: key for key, value in floors.items()}
    for floor, num in floor_dict.items():
        df.loc[df['FLOOR'] == floor, 'FLOOR'] = num
    df = df[df['FLOOR'].isin(list(floor_dict.values()))].reset_index(drop=True)
    df.rename(columns = {'FLOOR':'Floor'}, inplace = True)

    return df
        
def fill_roomsNA(df):
    for i in range(df.shape[0]):
        if df['Rooms'][i] == 0:
            size = df['Size'][i] 
            neighborhood = df['Neighborhood'][i]
            avg_room_size = df[(df['Neighborhood'] == neighborhood) ]
            
            avg_apt_size = avg_room_size['Size'].mean()
            avg_rooms = avg_room_size['Rooms'].mean()
            
            avg_room_size_in_the_n = round(avg_apt_size/avg_rooms)
            
            df['Rooms'][i] = round(size / avg_room_size_in_the_n)
    return df 

                               
df = fill_roomsNA(df)
df = floor_to_numeric(df ,floors)

print(df.shape)

<ipython-input-41-0002be9c978d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rooms'][i] = round(size / avg_room_size_in_the_n)

(100983, 17)

In [42]:
# df.to_csv('Data/Real_Estate_TLV_Step_2.csv') 
df.head()

,Date,Neighborhood,Neighborhood_id,Street,Type,Rooms,Floor,Size,Price,Street_id,WKT,POLYGONID,Object_id,Gush,Helka,Tat,Home_Number
0,2022-08-09,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,2,50,3200000,50000101,"POLYGON (( 181008.41000000 668543.12000000, 1...",52374371,117707.0,6770,15,18,50
1,2022-07-24,רמת אביב,65210019,רדינג,דירה בבית קומות,4.0,2,75,2000000,50000101,"POLYGON (( 180779.09000000 668080.62000000, 1...",53296773,100319.0,6770,7,61,16
2,2022-07-07,רמת אביב,65210019,רדינג,דירה בבית קומות,3.0,1,72,4080000,50000101,"POLYGON (( 180971.59000000 668537.19000000, 1...",53134373,179313.0,6770,15,4,46
3,2022-06-22,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,1,52,4250000,50000101,"POLYGON (( 180787.32920000 667974.52790000, 1...",52288306,101614.0,6772,55,10,10
4,2022-03-31,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,2,93,3580000,50000101,"POLYGON (( 181008.41000000 668543.12000000, 1...",52374371,117707.0,6770,15,19,50

In [43]:
df.shape

(100983, 17)

In [8]:
import re
text =  'עd4זה0'
integers = re.findall(r'\d+', text)
result = ''.join(integers)
result = int(result)
result

40