In [2]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup  
import csv
import numpy as np
from datetime import datetime
from datetime import timedelta
import math
import re

In [15]:
df1 = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_1.csv",index_col=0)
df2 = pd.read_csv("Data/Real_Estate_TLV_GOVMAPS_2.csv",index_col=0)
df = pd.merge(df1, df2, how='outer')
df.drop_duplicates(inplace=True, ignore_index=False)

Empty DataFrame
Columns: [DEALDATESTRING, DEALDATE, ADDRESS, NEIGHBORHOOD, NEIGHBORHOODID, STREENNAME, GUSHHELKATAT, ASSETTYPE, ROOMNUM, FLOOR, ASSETMETER, DEALS_DEALAMOUNT, DEALTYPE, PROJECTNAME, STREETCODE, WKT, POLYGONID, CITY, CITYID, OBJECTID]
Index: []

In [69]:
def polygon_point(df):
    '''
    Optional to calclute polygon size in meters for futre features uses. 
    from shapely.geometry import Polygon
    poly = Polygon(points)
    points = list(poly.exterior.coords)
    '''
    for i in range(df.shape[0]):
        corr = df['WKT'][i]
        points_str = corr.split("((")[1].split("))")[0]
        points_list = [tuple(map(float, point_str.split())) for point_str in points_str.split(",")]
        points = [(point[0], point[1]) for point in points_list]

        Lat = points[0][1]
        Long = points[0][0]
        df.loc[i, 'Lat'] = Lat
        df.loc[i, 'Long'] = Long
            
    df.drop('WKT', axis=1, inplace=True)
    return df


def split_gush_helka_tat(df):
    df[['Gush', 'Helka','Tat']] = df['GUSHHELKATAT'].str.split('-|/', n=2, expand=True).astype(int)  
    df = df.drop(columns='GUSHHELKATAT', axis=1)
    return df

def split_street_homenumber(df):
    df['Home_Number'] = df['ADDRESS'].str.extract('([0-9]+)', expand=False).astype(int)
    df.drop('ADDRESS', axis=1, inplace=True)
    return df

def convert_date_type(df):
    df.rename(columns = {'DEALDATESTRING':'Date'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
    return df



def Rename_cols_update_data_types(df):
    df = df.dropna(subset=['ASSETTYPE','DEALS_DEALAMOUNT']).reset_index(drop=True)
    df[['NEIGHBORHOOD','NEIGHBORHOODID','ASSETMETER']] =  df[['NEIGHBORHOOD','NEIGHBORHOODID','ASSETMETER']].fillna(0)
    
    
    types = ["nan","מיני פנטהאוז","מגורים","בית בודד","דופלקס","קוטג' חד משפחתי","קוטג' דו משפחתי",'מלונאות','חנות','קרקע למגורים','קבוצת רכישה - קרקע מגורים','None','אופציה','קבוצת רכישה - קרקע מסחרי','חניה','מסחרי + מגורים','דירת נופש','דיור מוגן','קומבינציה','מבנים חקלאיים','תעשיה','מסחרי + משרדים','בניני ציבור','חלוקה/יחוד דירות','מחסנים','אחר','בית אבות','עסק',"קוטג' טורי",'ניוד זכויות בניה','משרד','ללא תיכנון','מלונאות ונופש','משרדים + מגורים','מלאכה',]
    df = df.drop(df[df['ASSETTYPE'].isin(types)].index).reset_index(drop=True)
    
    df = split_gush_helka_tat(df)
    df = split_street_homenumber(df)
    df = polygon_point(df)
    df = convert_date_type(df)
    
    df.rename(columns = {'DEALS_DEALAMOUNT':'Price'}, inplace = True)
    df['Price'] = df['Price'].astype(int)
    
    df.rename(columns = {'POLYGONID':'Polygon_id'}, inplace = True)
    df['Polygon_id'] = df['Polygon_id'].astype(int)
    
    df.rename(columns = {'OBJECTID':'Object_id'}, inplace = True)
    df['Object_id'] = df['Object_id'].astype(int)

    df.rename(columns = {'ROOMNUM':'Rooms'}, inplace = True)
    df['Object_id'] = df['Object_id'].astype(float)
    
    df.rename(columns = {'NEIGHBORHOODID':'Neighborhood_id'}, inplace = True)
    df['Neighborhood_id'] = df['Neighborhood_id'].astype(int)
    
    df.rename(columns = {'STREETCODE':'Street_id'}, inplace = True)
    df['Street_id'] = df['Street_id'].astype(int)

    
    df.rename(columns = {'ASSETMETER':'Size'}, inplace = True)
    df['Size'] = df['Size'].astype(int)
    
    df.rename(columns = {'NEIGHBORHOOD':'Neighborhood'}, inplace = True)
    df.rename(columns = {'STREENNAME':'Street'}, inplace = True)
    df.rename(columns = {'DEALDATESTRING':'Type'}, inplace = True)
    df.rename(columns = {'ASSETTYPE':'Type'}, inplace = True)

    cols= ["DEALDATE","DEALTYPE","PROJECTNAME","CITY","CITYID"]
    # #"extent"

    df = df.drop(columns=cols, axis=1)
    return df


df = Rename_cols_update_data_types(df)

In [70]:
def date_clean_by_params(df):
    SQUAREM_MIN = 30
    SQUAREM_MAX = 350
    PRICE_MIN = 600000
    PRICE_MAX = 20000000
    DATE_START = '01/01/2003'
    DATE_END = '01/01/2024'
    
    df = df[(df["Size"].between(SQUAREM_MIN, SQUAREM_MAX)) & 
            (df["Price"].between(PRICE_MIN, PRICE_MAX)) & 
            (df["Date"].between(DATE_START, DATE_END))]
    
    return df.drop_duplicates().reset_index(drop=True)

df = date_clean_by_params(df)

In [71]:
floors = {-1:'מרתף', 
     0:'קרקע', 
     1:'ראשונה', 
     2:'שניה', 
     3:'שלישית', 
     4:'רביעית', 
     5:'חמישית', 
     6:'שישית', 
     7:'שביעית', 
     8:'שמינית', 
     9:'תשיעית', 
     10:'עשירית', 
     11:'אחת עשרה', 
     12:'שתים עשרה', 
     13:'שלוש עשרה', 
     14:'ארבע עשרה', 
     15:'חמש עשרה', 
     16:'שש עשרה', 
     17:'שבע עשרה',  
     18:'שמונה עשרה', 
     19:'תשע עשרה', 
     20:'עשרים', 
     21:'עשרים ואחת', 
     22:'עשרים ושתיים', 
     23:'עשרים ושלוש', 
     24:'עשרים וארבע', 
     25:'עשרים וחמש', 
     26:'עשרים ושש', 
     27:'עשרים ושבע', 
     28:'עשרים ושמונה', 
     29:'עשרים ותשע',
     30:'שלושיים',
     31:'שלושיים ואחת',
     32:'שלושיים ושתיים',
     33:'שלושים ושלוש',
     34:'שלושים וארבע',
     35:'שלושים וחמש',
     36:'שלושים ושש',
     37:'שלושים ושבע',
     38:'שלושים ושמונה',
     39:'שלושים ותשע',
     40:'ארבעים',
    }

In [72]:
def floor_to_numeric(df, floors):
    floor_dict = {value: key for key, value in floors.items()}
    for floor, num in floor_dict.items():
        df.loc[df['FLOOR'] == floor, 'FLOOR'] = num
    df = df[df['FLOOR'].isin(list(floor_dict.values()))].reset_index(drop=True)
    df.rename(columns = {'FLOOR':'Floor'}, inplace = True)

    return df
        
def fill_roomsNA(df):
    for i in range(df.shape[0]):
        if df['Rooms'][i] == 0:
            size = df['Size'][i] 
            neighborhood = df['Neighborhood'][i]
            avg_room_size = df[(df['Neighborhood'] == neighborhood) ]
            
            avg_apt_size = avg_room_size['Size'].mean()
            avg_rooms = avg_room_size['Rooms'].mean()
            
            avg_room_size_in_the_n = round(avg_apt_size/avg_rooms)
            
            df['Rooms'][i] = round(size / avg_room_size_in_the_n)
    return df 

                               
df = fill_roomsNA(df)
df = floor_to_numeric(df ,floors)

print(df.shape)

<ipython-input-72-0002be9c978d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rooms'][i] = round(size / avg_room_size_in_the_n)

(89300, 18)

In [73]:
# df.to_csv('Data/Real_Estate_TLV_Step_2.csv') 
df.head()

,Date,Neighborhood,Neighborhood_id,Street,Type,Rooms,Floor,Size,Price,Street_id,Polygon_id,Object_id,Gush,Helka,Tat,Home_Number,Lat,Long
0,2022-08-09,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,2,50,3200000,50000101,52374371,117707.0,6770,15,18,50,668543.1200,181008.4100
1,2022-07-24,רמת אביב,65210019,רדינג,דירה בבית קומות,4.0,2,75,2000000,50000101,53296773,100319.0,6770,7,61,16,668080.6200,180779.0900
2,2022-07-07,רמת אביב,65210019,רדינג,דירה בבית קומות,3.0,1,72,4080000,50000101,53134373,179313.0,6770,15,4,46,668537.1900,180971.5900
3,2022-06-22,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,1,52,4250000,50000101,52288306,101614.0,6772,55,10,10,667974.5279,180787.3292
4,2022-03-31,רמת אביב,65210019,רדינג,דירה בבית קומות,2.0,2,93,3580000,50000101,52374371,117707.0,6770,15,19,50,668543.1200,181008.4100